In [1]:
import pymongo

In [2]:
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost',27017)

In [4]:
db = client.people

In [7]:

result = db.people.insert_many([
    {"name":"Kim","age":21},
    {"name":"Lee","age":22},
    {"name":"Jung","age":27},
    {"name":"Park","age":27,"skills":["mongodb","python"]},
    {"name":"Choi","age":22,"score":10}
])

In [11]:
db.people.remove("jung")

/home/snu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.

{'n': 0, 'ok': 1.0}

In [18]:
a = client.database_names()

In [19]:
a

['admin', 'people', 'lab2', 'test', 'local']

In [20]:
db = client.test_database

In [21]:
db = client['test_database']

In [22]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')

In [23]:
db.collection_names()

[]

In [24]:
collection = db.test_collection
collection = db['test_collection']

In [25]:
db.collection_names()

[]

In [28]:
d = dict((db.lab2,[collection for collection in client[db.lab2].collection_names()])
        for db.lab2 in client.database_names())

In [29]:
print(d)

{'admin': ['system.indexes', 'system.version'], 'people': ['people', 'system.indexes'], 'lab2': ['system.indexes', 'apples'], 'test': ['people', 'posts', 'system.indexes', 'class', 'test', 'foo', 'users'], 'local': ['startup_log', 'system.indexes']}

In [30]:
def main():
    client = MongoClient()
    db = client.lab2

In [32]:
db = client.lab2
db.posts.insert_one(
{"Author": "your name", "Text": "Hellow World!"})

In [34]:
cursor = db.posts.find()

In [35]:
for document in cursor: print(document)

{'_id': ObjectId('59e4544a5c7e8210969fea54'), 'Author': 'your name', 'Text': 'Hellow World!'}

In [41]:
db.posts.insert_many([
    {"name": "Kim", "age": 21},
    {"name": "Lee", "age": 22},
    {"name": "Park", "age": 27, "skills": ["mongoDB", "python"]},
    {"name": "Choi", "age": 22, "score": 10}
])

In [42]:
k = db.posts.find()

In [43]:
for document in k: print(document)

{'_id': ObjectId('59e4544a5c7e8210969fea54'), 'Author': 'your name', 'Text': 'Hellow World!'}
{'_id': ObjectId('59e454f35c7e8210969fea55'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e454f35c7e8210969fea56'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e454f35c7e8210969fea57'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e454f35c7e8210969fea58'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455085c7e8210969fea59'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455085c7e8210969fea5a'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455085c7e8210969fea5b'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455085c7e8210969fea5c'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455255c7e8210969fea5d'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455255c7e8210969fea5e'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455255c7e8210969fea5f'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455255c7e8210969fea60'), 'name': 'Choi', 'age': 22, 'score': 10}

In [44]:
db.posts.update(
{"name": "Lee"},
{"name": "Lim", "age": 25})

/home/snu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [46]:
l = db.posts.find()

In [47]:
for doc in l: print(doc)

{'_id': ObjectId('59e4544a5c7e8210969fea54'), 'Author': 'your name', 'Text': 'Hellow World!'}
{'_id': ObjectId('59e454f35c7e8210969fea55'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e454f35c7e8210969fea56'), 'name': 'Lim', 'age': 25}
{'_id': ObjectId('59e454f35c7e8210969fea57'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e454f35c7e8210969fea58'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455085c7e8210969fea59'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455085c7e8210969fea5a'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455085c7e8210969fea5b'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455085c7e8210969fea5c'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455255c7e8210969fea5d'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455255c7e8210969fea5e'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455255c7e8210969fea5f'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455255c7e8210969fea60'), 'name': 'Choi', 'age': 22, 'score': 10}

In [48]:
db.posts.update({"name": "Kim"},{"name": "Kim", "age": 20})

/home/snu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [49]:
m  =db.posts.find()

In [50]:
for doc in m: print(doc)

{'_id': ObjectId('59e4544a5c7e8210969fea54'), 'Author': 'your name', 'Text': 'Hellow World!'}
{'_id': ObjectId('59e454f35c7e8210969fea55'), 'name': 'Kim', 'age': 20}
{'_id': ObjectId('59e454f35c7e8210969fea56'), 'name': 'Lim', 'age': 25}
{'_id': ObjectId('59e454f35c7e8210969fea57'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e454f35c7e8210969fea58'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455085c7e8210969fea59'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455085c7e8210969fea5a'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455085c7e8210969fea5b'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455085c7e8210969fea5c'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455255c7e8210969fea5d'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455255c7e8210969fea5e'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455255c7e8210969fea5f'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455255c7e8210969fea60'), 'name': 'Choi', 'age': 22, 'score': 10}

In [52]:
db.posts.update({"name": "Park"},{"$unset": {"skills":""}})

/home/snu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [53]:
n = db.posts.find()
for doc in n: print(doc)

{'_id': ObjectId('59e4544a5c7e8210969fea54'), 'Author': 'your name', 'Text': 'Hellow World!'}
{'_id': ObjectId('59e454f35c7e8210969fea55'), 'name': 'Kim', 'age': 20}
{'_id': ObjectId('59e454f35c7e8210969fea56'), 'name': 'Lim', 'age': 25}
{'_id': ObjectId('59e454f35c7e8210969fea57'), 'name': 'Park', 'age': 27}
{'_id': ObjectId('59e454f35c7e8210969fea58'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455085c7e8210969fea59'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455085c7e8210969fea5a'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455085c7e8210969fea5b'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455085c7e8210969fea5c'), 'name': 'Choi', 'age': 22, 'score': 10}
{'_id': ObjectId('59e455255c7e8210969fea5d'), 'name': 'Kim', 'age': 21}
{'_id': ObjectId('59e455255c7e8210969fea5e'), 'name': 'Lee', 'age': 22}
{'_id': ObjectId('59e455255c7e8210969fea5f'), 'name': 'Park', 'age': 27, 'skills': ['mongoDB', 'python']}
{'_id': ObjectId('59e455255c7e8210969fea60'), 'name': 'Choi', 'age': 22, 'score': 10}

In [76]:
with open("/home/snu/Downloads/grade.txt") as f:
    content = f.readlines()
content = [x.strip() for x in content]

In [77]:
content

['30',
 '1 1 0 1 1 0 0 1 0 0',
 '0 1 0 1 0 0 0 0 0 0',
 '1 0 0 1 1 1 0 1 1 0',
 '1 0 1 0 1 0 0 1 1 0',
 '1 0 1 0 1 0 1 0 0 0',
 '0 1 1 0 1 1 1 1 0 0',
 '1 1 0 0 1 1 0 1 1 0',
 '1 0 0 1 0 1 1 0 1 1',
 '1 1 1 0 0 0 0 1 1 0',
 '0 1 0 0 1 1 0 0 1 1',
 '0 0 1 0 1 0 1 0 0 1',
 '0 1 0 1 1 0 1 0 0 0',
 '0 0 1 0 0 1 0 0 1 1',
 '1 1 1 1 1 1 1 0 1 1',
 '1 1 1 0 0 0 0 1 0 0',
 '1 1 1 1 1 1 1 1 1 1',
 '0 1 0 0 0 1 1 1 0 0',
 '0 1 0 1 1 0 0 0 0 0',
 '0 0 1 1 1 1 0 0 0 1',
 '1 1 0 0 1 0 1 0 1 1',
 '1 1 1 1 1 1 1 1 1 1',
 '0 1 1 1 0 0 0 0 0 1',
 '1 0 0 0 0 1 0 1 1 0',
 '1 1 0 0 0 1 0 1 1 1',
 '0 1 0 1 0 0 1 1 0 0',
 '0 1 0 0 1 0 1 0 1 0',
 '0 0 1 0 1 1 1 1 0 0',
 '0 0 1 0 1 0 0 1 1 0',
 '1 1 1 1 1 1 1 0 1 0',
 '0 1 1 1 1 1 1 0 0 1']

In [69]:
grades = content[1:]

In [79]:
for i in grades:
    print(i.strip())

1 1 0 1 1 0 0 1 0 0
0 1 0 1 0 0 0 0 0 0
1 0 0 1 1 1 0 1 1 0
1 0 1 0 1 0 0 1 1 0
1 0 1 0 1 0 1 0 0 0
0 1 1 0 1 1 1 1 0 0
1 1 0 0 1 1 0 1 1 0
1 0 0 1 0 1 1 0 1 1
1 1 1 0 0 0 0 1 1 0
0 1 0 0 1 1 0 0 1 1
0 0 1 0 1 0 1 0 0 1
0 1 0 1 1 0 1 0 0 0
0 0 1 0 0 1 0 0 1 1
1 1 1 1 1 1 1 0 1 1
1 1 1 0 0 0 0 1 0 0
1 1 1 1 1 1 1 1 1 1
0 1 0 0 0 1 1 1 0 0
0 1 0 1 1 0 0 0 0 0
0 0 1 1 1 1 0 0 0 1
1 1 0 0 1 0 1 0 1 1
1 1 1 1 1 1 1 1 1 1
0 1 1 1 0 0 0 0 0 1
1 0 0 0 0 1 0 1 1 0
1 1 0 0 0 1 0 1 1 1
0 1 0 1 0 0 1 1 0 0
0 1 0 0 1 0 1 0 1 0
0 0 1 0 1 1 1 1 0 0
0 0 1 0 1 0 0 1 1 0
1 1 1 1 1 1 1 0 1 0
0 1 1 1 1 1 1 0 0 1

In [ ]:
from itertools import groupby