In [1]:
data = [[1,2,3,4],[5,6,7,8],[6,7,8,9]]

In [2]:
data

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 7, 8, 9]]

In [6]:
X_data = []
for i in range(len(data)):
    for j in data[i]:
        if j == 1:
        else:
            continue
    X_data.append(data[i][j])

IndentationError: expected an indented block (<ipython-input-6-c86a7804fcbe>, line 5)

In [7]:
print(X_data)

[2]

In [8]:
import numpy as np

In [9]:
a = np.array([1,2,3,4], float)

In [10]:
a

array([ 1.,  2.,  3.,  4.])

In [11]:
type(a) # ndarray 라는 데이터 타입!

numpy.ndarray

In [17]:
b = np.array([[1,2,3],[3,3,3]], float)
b

array([[ 1.,  2.,  3.],
       [ 3.,  3.,  3.]])

In [18]:
type(b)

numpy.ndarray

In [19]:
b[0,0]

1.0

In [21]:
b[1,2]

3.0

In [23]:
# np.array(list)
c = np.arange(13,50,8)

In [24]:
type(c)

numpy.ndarray

In [25]:
c

array([13, 21, 29, 37, 45])

In [27]:
np.zeros((2,2)) # numpy.zeros(array_size_tuple)

array([[ 0.,  0.],
       [ 0.,  0.]])

In [28]:
np.ones((2,2,)) # numpy.ones(array_size_tuple)

array([[ 1.,  1.],
       [ 1.,  1.]])

In [30]:
np.eye(3) # numpy.eye(array_size)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [33]:
a = np.full((2,2), 6) 
a

array([[6, 6],
       [6, 6]])

In [37]:
np.random.random((3,3)) #input: array_size_tuple # Totally Random

array([[ 0.94307634,  0.4393304 ,  0.29905306],
       [ 0.32599754,  0.65513534,  0.02390426],
       [ 0.84718512,  0.93259821,  0.67066262]])

In [38]:
np.random.rand(3,3) # Random + sampled from Normal distribution # input: array_size

array([[ 0.40951934,  0.44328562,  0.88074926],
       [ 0.37033136,  0.71111635,  0.52472377],
       [ 0.28923613,  0.56911024,  0.39591086]])

In [40]:
#from list to numpy.ndarray
a3 = np.array([[1,2,3],[4,5,6]], float)

In [41]:
type(a3)

numpy.ndarray

In [42]:
a3[1,:]

array([ 4.,  5.,  6.])

In [44]:
a3[:,2]

array([ 3.,  6.])

In [46]:
a3[-1:,-2:]

array([[ 5.,  6.]])

In [47]:
a3.transpose()

array([[ 1.,  4.],
       [ 2.,  5.],
       [ 3.,  6.]])

In [48]:
a3

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [49]:
k = np.array(range(6), float).reshape(2,3)

In [50]:
k

array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.]])

In [51]:
k.flatten()

array([ 0.,  1.,  2.,  3.,  4.,  5.])

In [53]:
k

array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.]])

In [52]:
np.concatenate(a3,k) # shape이 같아야 operation 이 가능하다

TypeError: only integer scalar arrays can be converted to a scalar index

In [54]:
npa = np.array([1,2,3,4])
npa*2
print(npa)

[1 2 3 4]

In [56]:
npb = np.array([4,5,6,7])

In [57]:
npa + npb

array([ 5,  7,  9, 11])

In [58]:
a = [1,2,3,4]
b = [4,5,6,7]# 몹시 다르다1 
a + b

[1, 2, 3, 4, 4, 5, 6, 7]

In [74]:
aa = np.array([[[1,2,3],[3,4,5]],[[2,2,2],[4,5,6]]])

In [75]:
for x in aa:
    print(x)

[[1 2 3]
 [3 4 5]]
[[2 2 2]
 [4 5 6]]

In [76]:
for x in aa:
    for j in x:
        print(j)

[1 2 3]
[3 4 5]
[2 2 2]
[4 5 6]

In [77]:
type(aa)

numpy.ndarray

In [80]:
aa.sum(axis = 0)

array([[ 3,  4,  5],
       [ 7,  9, 11]])

In [88]:
for i in aa:
    print(np.cov(i))

[[ 1.  1.]
 [ 1.  1.]]
[[ 0.  0.]
 [ 0.  1.]]

In [85]:
ifa = [[1,2,3],[3,4,5],[2,2,2],[4,5,6]]

In [86]:
np.corrcoef(ifa)

/home/snu/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3162: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/home/snu/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3163: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

array([[  1.,   1.,  nan,   1.],
       [  1.,   1.,  nan,   1.],
       [ nan,  nan,  nan,  nan],
       [  1.,   1.,  nan,   1.]])

In [87]:
np.cov(ifa)

array([[ 1.,  1.,  0.,  1.],
       [ 1.,  1.,  0.,  1.],
       [ 0.,  0.,  0.,  0.],
       [ 1.,  1.,  0.,  1.]])

In [90]:
np.dot(aa,k)

ValueError: shapes (2,2,3) and (2,3) not aligned: 3 (dim 2) != 2 (dim 0)

In [91]:
a = np.array([[0,1],[2,3]], float)
b = np.array([[2,3]],float)
c = np.array([[1,1],[4,0]], float)
a

array([[ 0.,  1.],
       [ 2.,  3.]])

In [92]:
np.dot(b,a)

array([[  6.,  11.]])

In [93]:
np.dot(b,c)

array([[ 14.,   2.]])

In [94]:
np.dot(a,c)

array([[  4.,   0.],
       [ 14.,   2.]])

In [ ]:
points = [[9,2,6],[2,4,3],[5,6,8],[4,6,7],[5,5,7],[7,8,8]]
dPoint = [4,3,5]
minidx = -1
minDist = -1