In [2]:
import pymysql.cursors

In [19]:
connection = pymysql.connect(
    host = '147.46.15.66',
    user = 'yujinmarchung',
    password = 'bde1234',
    db = 'yujinmarchung',
    charset = 'utf8',
    cursorclass = pymysql.cursors.DictCursor
    )

In [20]:
#try:
with connection.cursor() as cursor:
    
        sql = "SELECT * FROM buildings"
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
#finally:
    

    #connection.close()

[{'building_id': '1', 'building_name': 'Seoul Arts Center', 'location': 'Seoul', 'capacity': 5}, {'building_id': '2', 'building_name': 'Grand Peace Palace', 'location': 'Seoul', 'capacity': 3}, {'building_id': '3', 'building_name': 'Sejong Art Center', 'location': 'Seoul', 'capacity': 6}]

In [23]:
with connection.cursor() as cursor:
    data = (
        ('Jake', 'M', 23),
        ('Chris', 'F', 33),
        ('Xavier', 'M', 89),
)
sql = "insert into Audeince(name,gender,age) values (%s, %s, %s)"
cursor.executemany(sql, data)

result = cursor.fetchall()
print(result)

ProgrammingError: Cursor closed