In [81]:
import pymysql.cursors

In [82]:
connection = pymysql.connect(
    host = '147.46.15.66',
    user = 'yujinmarchung',
    password = 'bde1234',
    db = 'yujinmarchung',
    charset = 'utf8',
    cursorclass = pymysql.cursors.DictCursor)

In [80]:
#try:
with connection.cursor() as cursor:
    sql = "SELECT * FROM buildings"
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result)
#finally:
    #connection.close()

InterfaceError: (0, '')

In [4]:
connection.close()

In [79]:
with connection.cursor() as cursor:
    sql = "insert into Audience values (%s,%s,%s,%s)"
    cursor.execute(sql,("9","Kim","F","4"))
    result = cursor.fetchall()
    print(result)

InterfaceError: (0, '')

In [ ]:
with connection.cursor() as cursor:
    sql = "insert into Audience values (%s,%s,%s,%s)"
    cursor.execute(sql,("9","Kim","F","4"))
    result = cursor.fetchall()
    print(result)

In [57]:







def SQL():
    n = eval(input("자 , 실행하고 싶은 것이 무엇이냐 골라라 out of 1, 2, 3, 4 : "))

    def f1(building_id,building_name,location,capacity):
        with connection.cursor() as cursor:
            sql = "insert into buildings values (%s,%s,%s,%s)"
            cursor.execute(sql,(building_id,building_name,location,capacity))
            result = cursor.fetchall()
            print(result)    
    
    def f2(building_id,building_name,location,capacity):
        with connection.cursor() as cursor:
            sql = "insert into buildings values (%s,%s,%s,%s)"
            cursor.execute(sql,(building_id,building_name,location,capacity))
            result = cursor.fetchall()
            print(result)
            
    def f3(building_id,building_name,location,capacity):
        with connection.cursor() as cursor:
            sql = "insert into buildings values (%s,%s,%s,%s)"
            cursor.execute(sql,(building_id,building_name,location,capacity))
            result = cursor.fetchall()
            print(result)    
    
    def f4(building_id,building_name,location,capacity):
        with connection.cursor() as cursor:
            sql = "insert into buildings values (%s,%s,%s,%s)"
            cursor.execute(sql,(building_id,building_name,location,capacity))
            result = cursor.fetchall()
            print(result)
            
    def f6(P_id,P_name,P_type,P_price):
        with connection.cursor() as cursor:
            sql = "insert into buildings values (%s,%s,%s,%s)"
            cursor.execute(sql,(P_id,P_name,P_type,P_price))
            result = cursor.fetchall()
            print(result)
    
    if n == 6 :
        with connection.cursor() as cursor:
            P_id= input("공연아이디를 써라  ")
            P_name=input("공연제목을 써라  ")
            P_type=input("공연 타입을 써라 ")
            P_price=input("공연 티켓 한 장의 가격을 개자식아 써라  ")
            f6(P_id,P_name,P_type,P_price)           
            
    if n == 1 :
        with connection.cursor() as cursor:
            sql = "SELECT * FROM buildings"
            cursor.execute(sql)
            result = cursor.fetchall()
            print(result)  
            
    if n == 2 :
        with connection.cursor() as cursor:
            sql = "SELECT * FROM Performances"
            cursor.execute(sql)
            result = cursor.fetchall()
            print(result)
            
    if n == 3 :
        with connection.cursor() as cursor:
            sql = "SELECT * FROM Audience"
            cursor.execute(sql)
            result = cursor.fetchall()
            print(result)
    
    if n == 4:
        building_id= input("빌딩아이디을 써라  ")
        building_name=input("빌딩이름을 써라  ")
        location=input("빌딩장소를 써라 ")
        capacity=input("빌딩인원초과x인원내놔라개자식들아을 써라  ")
        f4(building_id,building_name,location,capacity)
    
""" if n == 5 :
    with connection.cursor() as cursor:
        sql = "Delete *  "
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
        """

' if n == 5 :\n    with connection.cursor() as cursor:\n        sql = "Delete *  "\n        cursor.execute(sql)\n        result = cursor.fetchall()\n        print(result)\n        '

In [65]:
SQL()

자 , 실핼하고 싶은 것이 무엇이냐 골라라 out of 1, 2, 3, 4 : 2
[{'Performances_id': '1', 'Performances_name': 'Coldplay Concert', 'Performances_type': 'Concert', 'Performances_price': 100000}, {'Performances_id': '2', 'Performances_name': 'Jekyll $ Hyde', 'Performances_type': 'Musical', 'Performances_price': 70000}, {'Performances_id': '3', 'Performances_name': 'Romeo and Juliet', 'Performances_type': 'Drama', 'Performances_price': 50000}]

[{'grp': 'mammal', 'id': 1, 'name': 'dog'}, {'grp': 'mammal', 'id': 2, 'name': 'cat'}, {'grp': 'bird', 'id': 1, 'name': 'penguin'}, {'grp': 'fish', 'id': 1, 'name': 'lax'}, {'grp': 'mammal', 'id': 3, 'name': 'whale'}, {'grp': 'bird', 'id': 2, 'name': 'ostrich'}]

In [ ]:
    n = eval(input("자 , 실행하고 싶은 것이 무엇이냐 골라라 out of 1, 2, 3, 4 : "))

In [74]:
def ami(n):

    def f56(name):
        with connection.cursor() as cursor:
            sql = "INSERT INTO animal (name) VALUES (%s)"
            cursor.execute(sql,(name))
            result = cursor.fetchall()
            print(result)


    if n == 56:
        name= input("동물이름을 써라  ")

        f56(name)

In [76]:
with connection.cursor() as cursor:
    sql = "SELECT * FROM animal" 
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result)

[{'id': 1, 'name': 'dog'}, {'id': 2, 'name': 'cat'}, {'id': 3, 'name': 'penguin'}, {'id': 4, 'name': 'lax'}, {'id': 5, 'name': 'whale'}, {'id': 6, 'name': 'ostrich'}, {'id': 7, 'name': '미소'}]

In [75]:
ami(56)

동물이름을 써라  미소
()