In [63]:
import pymysql.cursors
connection = pymysql.connect(
    host = '147.46.15.66',
    user = 'yujinmarchung',
    password = 'bde1234',
    db='yujinmarchung',
    charset='utf8',
    cursorclass = pymysql.cursors.DictCursor
)


def SQL():
    n = eval(input("select your action :  "))
    
    
    
    def print_B():
        with connection.cursor() as cursor:
            sql = "SELECT * FROM buildings"
            cursor.execute(sql)
            result = cursor.fetchall()
            print("------------------------------------------------------------------------------------")
            print('id \t\t name\t\t location \t\t capacity\t\t assigned')
            print("------------------------------------------------------------------------------------")
            for i in result :
                id, place, loc, cap, assigned = i.values()
                print('%s\t %s\t\t %s\t\t %s\t\t %s' %(id, place, loc, cap, assigned))
            print("------------------------------------------------------------------------------------")
            

            
    def print_A():
        with connection.cursor() as cursor:
            sql = "SELECT * FROM Audience"
            cursor.execute(sql)
            result = cursor.fetchall()
            print(result)
            
    def print_P():
        with connection.cursor() as cursor:
            sql = "SELECT * FROM Performances"
            cursor.execute(sql)
            result = cursor.fetchall()
            print("------------------------------------------------------------------------------------")
            print('id \t\t       name\t type \t\t price \t\t booked \t building')
            print("------------------------------------------------------------------------------------")
            for i in result :
                id, name, type, price,booked,building = i.values()
                print('%s\t %s      %s\t\t %s\t \t\t%s \t\t%s\t' %(id,name, type, price, booked,building))
            print("------------------------------------------------------------------------------------")  
            
            
            
    def insert_B():
        building_name=input("공연장이름을 써라  ")
        location=input("공연장장소를 써라 ")
        capacity=input("공연장의 초과인원 써라  ")
        assigned=0
        
        with connection.cursor() as cursor:
            sql = "insert into buildings(building_name,location,capacity,assigned) values (%s,%s,%s,%s)"
            cursor.execute(sql,(building_name,location,capacity,assigned))
            connection.commit()
            result = cursor.fetchall()

            
    
    def insert_P():
        
        Performances_name=input("공연제목을 써라  ")
        Performances_type=input("공연 타입을 써라 ")
        Performances_price=input("공연 티켓 한 장의 가격을 써라  ")
        booked=0
        P_building=None
        with connection.cursor() as cursor:
            sql = "insert into Performances(Performances_name,Performances_type,Performances_price,booked,P_building ) values(%s,%s,%s,%s,%s);"
            cursor.execute(sql,(Performances_name,Performances_type,Performances_price,booked,P_building ))
            connection.commit()
            result = cursor.fetchall()
            print(result)
            
    def insert_A():
        Audience_name=input("고객 이름은 무엇이죠?  ")
        Audience_gender=input("고객의 성별은 무엇이죠? ")
        Audience_age=input("고객의 나이는 무엇이죠?  ")
        with connection.cursor() as cursor:
            sql = "insert into Audience values (%s,%s,%s)"
            cursor.execute(sql,(Audience_name,Audience_gender,Audience_age))
            result = cursor.fetchall()
            connection.commit()
            print(result)    
            
    def book_Performance(x,y,numbers) :        
        with connection.cursor() as cursor:
            sql1 = "insert into reservation(P_id,A_id,Seat_number) values (%s,%s,%s)"
            sql2 = "update Performances set booked = booked +1 where Performances_id = %s"
            for i in range(len(numbers)):
                cursor.execute(sql1,(x,y,numbers[i]))                
                cursor.execute(sql2,x)
                connection.commit()
            result = cursor.fetchall()
            print(result)   
            
    def assign_Performance() :
        x = input("배정할 공연 id를 적어주세요.")
        y = input("배정시킬 공연장 id를 적어주세요.")
        with connection.cursor() as cursor :
            sql="select P_building from Performances where  Performances_id= %s"
            cursor.execute(sql,x)
            result = cursor.fetchall()
            connection.commit()
            R=result[0]
            result1=[(k,v) for k,v in R.items()]
        if result1[0][1]!=None :
              print("해당 공연은 이미 다른 공연장에 배정되어있습니다.")
        else :
              with connection.cursor() as cursor :
                    sql2 = "update Performances set P_building = %s where Performances_id = %s"
                    cursor.execute(sql2,(y,x))
                    connection.commit()
                    sql1 = "update buildings set assigned = assigned +1 where building_id = %s"
                    cursor.execute(sql1,y)
                    connection.commit()
                    
                    sql3="select capacity from buildings where building_id=%s"
                    result=cursor.execute(sql3,y)
                    sql4="insert into reservation(P_id,Seat_number) values(%s,%s)"
                    for i in range(result):
                        cursor.execute(sql4,(x,i+1))
                        connection.commit()                    

    def print_all_P_at_B(): 
        B_id = input("공연 내역을 보고 싶은 공연장 id를 적어주세요.")
        with connection.cursor() as cursor:
            sql = "select  Performances_name FROM Performances where P_building=%s"
            cursor.execute(sql,B_id)
            result = cursor.fetchall()
            connection.commit()
            print(result)
    def  Book_A(): 
        P_id = input("예약한 회원을 보고 싶은 공연 id를 적어주세요.")
        with connection.cursor() as cursor:
            sql = '''SELECT Audience_name FROM (select distinct P_id,Audience_name  
                     from reservation join Audience on A_id = Audience_id 
                     where P_id=%s) S;'''
            cursor.execute(sql,P_id)
            result = cursor.fetchall()
            connection.commit()
            print(result)

    def  ticket(): 
        P_id = input("예약내역을 보고싶은 공연 id를 적어주세요.")
        with connection.cursor() as cursor:
            sql = '''select Seat_number, A_id as Audience_id from reservation left outer join Performances on Performances.Performances_id = reservation.P_id where P_id = %s'''
            cursor.execute(sql,P_id)
            result = cursor.fetchall()
            connection.commit()
            print(result)
        
    def delete_B():
                   
        x=input("삭제할 공연장id를 입력해 주십시오. ")
            
        with connection.cursor() as cursor :
            cursor.execute("""select building_name from buildings where building_id = %s""" %x)
            result = cursor.fetchall()
        if not result :
            print("해당 공연장은 존재하지 않습니다.")
        else :
            with connection.cursor() as cursor :
                sqlb= "update Performances set P_building=null where P_building =%s"
                cursor.execute(sqlb,x)
                cursor.execute("""delete from buildings where building_id = %s"""%x)
                connection.commit()

                
    def delete_P():
        
        x=input("삭제하고자 하는 공연의 id를 입력해 주십시오.")
        
        with connection.cursor() as cursor :
            cursor.execute("""select Performances_name from Performances where Performances_id = %s""" %x)
            result = cursor.fetchall()
        if not result :
            print("해당 공연은 존재하지 않습니다.")
        else :
            with connection.cursor() as cursor :
                cursor.execute("""delete from Performances where Performances_id = %s"""%x)
                connection.commit()
            
            
            
    def delete_A():
        
        x = input("삭제를 원하는 관객의 id를 입력하시오 ")
        
        with connection.cursor() as cursor :
            cursor.execute("""select Audience_name from Audience where Audience_id = %s""" %x)
            result = cursor.fetchall()
        if not result :
            print("해당 관객은 존재하지 않습니다.")
        else :
            with connection.cursor() as cursor :
                cursor.execute("""delete from Audience where Audience_id = %s"""%x)
                connection.commit()          
 
    if n == 0 : 
        print("""\t\t n==0 다 보기 
                 n==1 빌딩 프린트 
                 n==2 공연 프린트 
                 n==3 관객 프린트 
                 n==4 빌딩 추가 
                 n==6 공연 추가 
                 n==8 관객 추가 
                 n==10 공연을 공연장에 추가 
                 n==11 공연을 관객 예매 
                 n==12 한 빌딩에 할당된 모든 공연을 프린트 
                 n==13 한 관객의 예매 정보를 프린트 
                 n==14 공연 별 예매 현황 프린트 """
                 
              ) 
            
    if n == 1 :#print B
        print_B()

            
    if n == 2 : # print P
        print_P()

           
    if n == 3 : #print A
        print_A()

    
    if n == 4: # insert_B
        insert_B()
    
    #YJ Remove a building
    if n == 5:
        delete_B()
    
    if n == 6: # insert_P
        insert_P()             
    
    #YJ Remove a performance
    if n == 7:
        delete_P()
        
    if n == 8: # insert_A
        insert_A()

    #YJ Remove an audience
    if n == 9:
        delete_A()
        
    if n == 10 : #assign_Performance()
        assign_Performance()
        
       
        
    if n == 11 : #book  performance 
        x = input("예약할 공연 id를 적어주세요.")
        y = input("예약할 고객 id를 적어주세요.")
        s = input("예약할 seat를 적어주세요.")
        numbers = list(map(int, s.split(",")))
        book_Performance(x,y,numbers)

    if n == 12 : # print all P which assigned at a B
        print_all_P_at_B()
        
    if n == 13: 
        Book_A()
    if n == 14 : 
        ticket()

In [64]:
SQL()

select your action :  14
예약내역을 보고싶은 공연 id를 적어주세요.9
[{'Audience_name': 'Choi Jihyun'}]