# Clustering
FIRA 빅데이터 플랫폼 과정 <데이터마이닝> - 2017.08.18.금 09:00-13:00

### 1. Data
- 1-1. `german_predictions.csv`
- 1-2. Preprocessing : dummy variables
- 1-3. Train-Test Split : `sklearn.model_selection.test_train_split`

### 2. Linear Regression
- 2-1. `sklearn.linear_model.LinearRegression`
- 2-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`

### 3. k-nn
- 3-1. `sklearn.neighbors.KNeighborsRegressor`
- 3-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`

### 4. SVM
- 4-1. `sklearn.svm.LinearSVR`
- 4-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`

### 5. Cross-Validation Test
- 5-1. 필요성
- 5-2. K-Fold Cross Validation : `sklearn.cross_validation.cross_val_score`

### 6. 실습 : 신용 금액 예측 모델

### 1. Data
---

#### 1-1.  `german_predictions.csv`
---
`german_predictions.csv`는 독일 은행에 신용거래를 신청한 신청자 1000명의 데이터이다. 관찰번호(OBS#)를 제외하고 총 28개의 변수로 이루어져있으며, 각 신청자들의 '신용 금액(AMOUNT)'가 예측하고자 하는 변수이다.

In [1]:
import pandas as pd

In [2]:
# 변수별 설명 : CodeList
pd.read_csv('CodeList_predictions.csv').iloc[:, :4]

,변수명,설명,변수 종류,코드 설명
0,OBS#,관찰번호,-,일련번호
1,CHK_ACCT,당좌 예금 계좌 상태,범주형,"0 : 0 DM 미만, 1 : 0~200 DM 미만, 2 : 200 DM 이상, 3..."
2,DURATION,신용거래 개월 수,수치형,NaN
3,HISTORY,신용기록,범주형,"0 : 신용거래 없음, 1 : 기한 내 변제, 2 : 변제 기한 남음, 3 : 연체..."
4,NEW_CAR,신용목적,이진수형,신형 자동차 0 : 없음 1 : 있음
5,USED_CAR,신용목적,이진수형,중고 자동차 0 : 없음 1 : 있음
6,FURNITURE,신용목적,이진수형,가구/주방기기 0 : 없음 1 : 있음
7,RADIO/TV,신용목적,이진수형,라디오/TV 0 : 없음 1 : 있음
8,EDUCATION,신용목적,이진수형,교육 0 : 없음 1 : 있음
9,RETAINING,신용목적,이진수형,재교육 0 : 없음 1 : 있음
10,SAV_ACCT,보통예금 계좌 평균 잔고,범주형,"0 : 100 DM 미만, 1 : 100~500 DM, 2 : 500~1000 D..."
11,EMPLOYMENT,현 직장 재직 기간,범주형,"0 : 무직, 1 : 1년 미만, 2 : 1~4년 미만, 3 : 4~7년 미만, 4..."
12,INSTALL_RATE,가처분 소득 대비 할부금 이자율,수치형,NaN
13,MALE_DIV,이혼 남성,이진수형,"0 : 아니오, 1: 예"
14,MALE_SINGLE,미혼 남성,이진수형,"0 : 아니오, 1: 예"
15,MALE_MAR_WID,기혼 남성 혹은 홀아비,이진수형,"0 : 아니오, 1: 예"
16,CO-APPLICANT,공동 신청자,이진수형,"0 : 아니오, 1: 예"
17,GUARANTOR,보증인 유/무,이진수형,"0 : 아니오, 1: 예"
18,PRESENT_RESIDENT,현 주소지 거주 기간,범주형,NaN
19,REAL_ESTATE,부동산 보유,이진수형,"0 : 아니오, 1: 예"
20,PROP_UNKN_NONE,보유재산 없음,이진수형,"0 : 아니오, 1: 예"
21,AGE,연령,수치형,NaN
22,OTHER_INSTALL,타 할부 거래,이진수형,"0 : 아니오, 1: 예"
23,RENT,임대,이진수형,"0 : 아니오, 1: 예"
24,OWN_RES,주택 유/무,이진수형,"0 : 아니오, 1: 예"
25,NUM_CREDITS,현재 대출 건수,수치형,NaN
26,JOB,직종,범주형,"0 : 무직/비숙련 비정규직, 1 : 비숙련 정규직, 2 : 숙련직/작업감독, 3..."
27,NUM_DEPENDENTS,부양가족 수,수치형,NaN
28,TELEPHONE,전화 가입,이진수형,"0 : 아니오, 1: 예"
29,FOREIGN,외국인 근로자,이진수형,"0 : 아니오, 1: 예"
30,AMOUNT,신용금액,수치형,NaN

In [4]:
# df
import pandas as pd
df = pd.read_csv("german_predictions.csv").set_index('OBS#')
df

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETAINING,SAV_ACCT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,AMOUNT
OBS#,,,,,,,,,,,,,,,,,,,,,
0,0,6,4,0,0,0,1,0,0,4,...,67,0,0,1,2,2,1,1,0,1169
1,1,48,2,0,0,0,1,0,0,0,...,22,0,0,1,1,2,1,0,0,5951
2,3,12,4,0,0,0,0,1,0,0,...,49,0,0,1,1,1,2,0,0,2096
3,0,42,2,0,0,1,0,0,0,0,...,45,0,0,0,1,2,2,0,0,7882
4,0,24,3,1,0,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,4870
5,3,36,2,0,0,0,0,1,0,4,...,35,0,0,0,1,1,2,1,0,9055
6,3,24,2,0,0,1,0,0,0,2,...,53,0,0,1,1,2,1,0,0,2835
7,1,36,2,0,1,0,0,0,0,0,...,35,0,1,0,1,3,1,1,0,6948
8,3,12,2,0,0,0,1,0,0,3,...,61,0,0,1,1,1,1,0,0,3059
9,1,30,4,1,0,0,0,0,0,0,...,28,0,0,1,2,3,1,0,0,5234
10,1,12,2,1,0,0,0,0,0,0,...,25,0,1,0,1,2,1,0,0,1295
11,0,48,2,0,0,0,0,0,0,0,...,24,0,1,0,1,2,1,0,0,4308
12,1,12,2,0,0,0,1,0,0,0,...,22,0,0,1,1,2,1,1,0,1567
13,0,24,4,1,0,0,0,0,0,0,...,60,0,0,1,2,1,1,0,0,1199
14,0,15,2,1,0,0,0,0,0,0,...,28,0,1,0,1,2,1,0,0,1403
15,0,24,2,0,0,0,1,0,0,1,...,32,0,0,1,1,1,1,0,0,1282
16,3,24,4,0,0,0,1,0,0,4,...,53,0,0,1,2,2,1,0,0,2424
17,0,30,0,0,0,0,0,0,0,4,...,25,1,0,1,3,2,1,0,0,8072
18,1,24,2,0,1,0,0,0,0,0,...,44,0,0,0,1,3,1,1,0,12579
19,3,24,2,0,0,0,1,0,0,2,...,31,0,0,1,1,2,2,1,0,3430
20,3,9,4,1,0,0,0,0,0,0,...,48,0,0,1,3,2,1,1,0,2134
21,0,6,2,0,0,0,1,0,0,2,...,44,0,1,0,1,2,2,0,0,2647
22,0,10,4,1,0,0,0,0,0,0,...,48,0,1,0,2,1,2,0,1,2241
23,1,12,4,0,1,0,0,0,0,1,...,44,0,0,1,1,2,1,0,0,1804
24,3,10,4,0,0,1,0,0,0,4,...,26,0,0,1,2,2,1,0,1,2069
25,0,6,2,0,0,1,0,0,0,0,...,36,1,0,1,1,1,1,1,0,1374
26,3,6,0,0,0,0,1,0,0,0,...,39,0,0,1,1,1,1,0,0,426
27,2,12,1,0,0,0,1,0,0,3,...,42,0,1,0,2,2,1,0,0,409
28,1,7,2,0,0,0,1,0,0,0,...,34,0,0,1,1,2,1,0,0,2415
29,0,60,3,0,0,0,0,0,0,0,...,63,0,0,1,2,2,1,1,0,6836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1,15,2,0,0,0,0,0,0,1,...,22,0,0,1,1,2,1,0,0,1514
971,3,24,2,1,0,0,0,0,0,0,...,43,0,0,1,1,1,2,0,0,7393
972,0,24,1,1,0,0,0,0,0,0,...,29,0,1,0,2,0,1,0,0,1193
973,0,60,2,0,0,0,0,0,0,0,...,36,0,1,0,1,2,1,0,0,7297
974,3,30,4,0,0,0,1,0,0,0,...,33,0,0,1,1,2,1,1,0,2831
975,2,24,2,0,0,0,1,0,0,2,...,57,0,0,1,1,1,1,0,0,1258
976,1,6,2,0,0,0,1,0,0,0,...,64,0,0,1,1,2,1,0,0,753
977,1,18,3,0,0,0,0,0,0,4,...,42,0,0,1,2,2,1,0,0,2427
978,3,24,3,1,0,0,0,0,0,0,...,47,0,0,1,2,1,2,0,0,2538
979,1,15,1,1,0,0,0,0,0,1,...,25,0,1,0,1,2,1,0,0,1264
980,1,30,4,0,0,1,0,0,0,0,...,49,0,0,1,1,2,1,0,0,8386
981,3,48,2,0,0,0,0,0,0,0,...,33,1,1,0,1,3,1,1,0,4844
982,2,21,2,1,0,0,0,0,0,1,...,28,1,0,1,1,3,1,1,0,2923
983,0,36,2,0,1,0,0,0,0,0,...,26,0,0,1,1,2,2,0,0,8229
984,3,24,4,0,0,1,0,0,0,0,...,30,0,0,1,2,1,1,0,0,2028
985,0,15,4,0,0,1,0,0,0,0,...,25,0,1,0,2,2,1,0,0,1433
986,2,42,0,0,0,0,0,0,0,0,...,33,0,0,1,2,2,1,0,0,6289
987,3,13,2,0,0,0,1,0,0,1,...,64,0,0,1,1,2,1,0,0,1409
988,0,24,2,0,1,0,0,0,0,0,...,29,0,0,0,1,3,1,1,0,6579
989,1,24,4,0,0,0,1,0,0,0,...,48,0,0,1,2,1,1,0,0,1743
990,3,12,4,0,0,0,0,1,0,4,...,37,0,0,1,2,1,2,0,0,3565
991,3,15,1,0,0,0,1,0,0,1,...,34,1,0,1,1,1,2,0,0,1569
992,0,18,2,0,0,0,1,0,0,4,...,23,0,1,0,2,1,1,0,0,1936
993,0,36,2,0,0,1,0,0,0,0,...,30,0,0,1,1,3,1,1,0,3959
994,3,12,2,1,0,0,0,0,0,4,...,50,0,0,1,1,2,1,1,0,2390
995,3,12,2,0,0,1,0,0,0,0,...,31,0,0,1,1,1,1,0,0,1736
996,0,30,2,0,1,0,0,0,0,0,...,40,0,0,1,1,3,1,1,0,3857
997,3,12,2,0,0,0,1,0,0,0,...,38,0,0,1,1,2,1,0,0,804
998,0,45,2,0,0,0,1,0,0,0,...,23,0,0,0,1,2,1,1,0,1845
999,1,45,4,0,1,0,0,0,0,1,...,27,0,0,1,1,2,1,0,0,4576

#### 1-2. Preprocessing : dummy variables

In [15]:
df["PRESENT_RESIDENT"]

OBS#
0      4
1      2
2      3
3      4
4      4
5      4
6      4
7      2
8      4
9      2
10     1
11     4
12     1
13     4
14     4
15     2
16     4
17     3
18     2
19     2
20     4
21     3
22     3
23     4
24     1
25     2
26     4
27     3
28     2
29     4
      ..
970    2
971    4
972    4
973    4
974    2
975    3
976    3
977    2
978    4
979    2
980    2
981    2
982    1
983    2
984    2
985    3
986    1
987    4
988    2
989    2
990    1
991    4
992    4
993    3
994    3
995    4
996    4
997    4
998    4
999    4
Name: PRESENT_RESIDENT, Length: 1000, dtype: int64

In [14]:
# dummy varaibles : preprocessed_df
cols = ['CHK_ACCT','HISTORY','SAV_ACCT','EMPLOYMENT','JOB']
preprocessed_df = pd.get_dummies(df,columns = cols)
preprocessed_df

,DURATION,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETAINING,INSTALL_RATE,MALE_DIV,MALE_SINGLE,...,SAV_ACCT_4,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3,EMPLOYMENT_4,JOB_0,JOB_1,JOB_2,JOB_3
OBS#,,,,,,,,,,,,,,,,,,,,,
0,6,0,0,0,1,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
1,48,0,0,0,1,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
2,12,0,0,0,0,1,0,2,0,1,...,0,0,0,0,1,0,0,1,0,0
3,42,0,0,1,0,0,0,2,0,1,...,0,0,0,0,1,0,0,0,1,0
4,24,1,0,0,0,0,0,3,0,1,...,0,0,0,1,0,0,0,0,1,0
5,36,0,0,0,0,1,0,2,0,1,...,1,0,0,1,0,0,0,1,0,0
6,24,0,0,1,0,0,0,3,0,1,...,0,0,0,0,0,1,0,0,1,0
7,36,0,1,0,0,0,0,2,0,1,...,0,0,0,1,0,0,0,0,0,1
8,12,0,0,0,1,0,0,2,1,0,...,0,0,0,0,1,0,0,1,0,0
9,30,1,0,0,0,0,0,4,0,0,...,0,1,0,0,0,0,0,0,0,1
10,12,1,0,0,0,0,0,3,0,0,...,0,0,1,0,0,0,0,0,1,0
11,48,0,0,0,0,0,0,3,0,0,...,0,0,1,0,0,0,0,0,1,0
12,12,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
13,24,1,0,0,0,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
14,15,1,0,0,0,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
15,24,0,0,0,1,0,0,4,0,0,...,0,0,0,1,0,0,0,1,0,0
16,24,0,0,0,1,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
17,30,0,0,0,0,0,0,2,0,1,...,1,0,1,0,0,0,0,0,1,0
18,24,0,1,0,0,0,0,4,0,0,...,0,0,0,0,0,1,0,0,0,1
19,24,0,0,0,1,0,0,3,0,1,...,0,0,0,0,0,1,0,0,1,0
20,9,1,0,0,0,0,0,4,0,1,...,0,0,0,1,0,0,0,0,1,0
21,6,0,0,0,1,0,0,2,0,1,...,0,0,0,1,0,0,0,0,1,0
22,10,1,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,1,0,0
23,12,0,1,0,0,0,0,3,0,1,...,0,0,1,0,0,0,0,0,1,0
24,10,0,0,1,0,0,0,2,0,0,...,1,0,0,1,0,0,0,0,1,0
25,6,0,0,1,0,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
26,6,0,0,0,1,0,0,4,0,0,...,0,0,0,0,0,1,0,1,0,0
27,12,0,0,0,1,0,0,3,0,0,...,0,0,0,1,0,0,0,0,1,0
28,7,0,0,0,1,0,0,3,0,1,...,0,0,0,1,0,0,0,0,1,0
29,60,0,0,0,0,0,0,3,0,1,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,15,0,0,0,0,0,0,4,0,1,...,0,0,0,1,0,0,0,0,1,0
971,24,1,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
972,24,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
973,60,0,0,0,0,0,0,4,0,1,...,0,0,0,0,0,1,0,0,1,0
974,30,0,0,0,1,0,0,4,0,0,...,0,0,0,1,0,0,0,0,1,0
975,24,0,0,0,1,0,0,3,0,0,...,0,0,0,1,0,0,0,1,0,0
976,6,0,0,0,1,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
977,18,0,0,0,0,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
978,24,1,0,0,0,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
979,15,1,0,0,0,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
980,30,0,0,1,0,0,0,2,0,1,...,0,0,0,0,1,0,0,0,1,0
981,48,0,0,0,0,0,0,3,0,1,...,0,1,0,0,0,0,0,0,0,1
982,21,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
983,36,0,1,0,0,0,0,2,0,1,...,0,0,0,1,0,0,0,0,1,0
984,24,0,0,1,0,0,0,2,0,1,...,0,0,0,0,1,0,0,1,0,0
985,15,0,0,1,0,0,0,4,0,0,...,0,0,0,1,0,0,0,0,1,0
986,42,0,0,0,0,0,0,2,1,0,...,0,0,1,0,0,0,0,0,1,0
987,13,0,0,0,1,0,0,2,0,0,...,0,1,0,0,0,0,0,0,1,0
988,24,0,1,0,0,0,0,4,0,1,...,0,1,0,0,0,0,0,0,0,1
989,24,0,0,0,1,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
990,12,0,0,0,0,1,0,2,0,1,...,1,0,1,0,0,0,0,1,0,0
991,15,0,0,0,1,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
992,18,0,0,0,1,0,0,2,0,0,...,1,0,0,0,1,0,0,1,0,0
993,36,0,0,1,0,0,0,4,0,1,...,0,1,0,0,0,0,0,0,0,1
994,12,1,0,0,0,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
995,12,0,0,1,0,0,0,3,0,0,...,0,0,0,0,1,0,0,1,0,0
996,30,0,1,0,0,0,0,4,1,0,...,0,0,0,1,0,0,0,0,0,1
997,12,0,0,0,1,0,0,4,0,1,...,0,0,0,0,0,1,0,0,1,0
998,45,0,0,0,1,0,0,4,0,1,...,0,0,0,1,0,0,0,0,1,0
999,45,0,1,0,0,0,0,3,0,1,...,0,1,0,0,0,0,0,0,1,0

In [18]:
# split X, y
X, y = preprocessed_df.drop('AMOUNT',axis = 1), preprocessed_df.AMOUNT 
# 축을 1로 놓아야 한다! 안그럼 칼럼으로 되니까! 드롭 함수는 axis 0기본이라서. 행이 되어버리기 떄문이지
print(X)

      DURATION  NEW_CAR  USED_CAR  FURNITURE  RADIO/TV  EDUCATION  RETAINING  \
OBS#
0            6        0         0          0         1          0          0
1           48        0         0          0         1          0          0
2           12        0         0          0         0          1          0
3           42        0         0          1         0          0          0
4           24        1         0          0         0          0          0
5           36        0         0          0         0          1          0
6           24        0         0          1         0          0          0
7           36        0         1          0         0          0          0
8           12        0         0          0         1          0          0
9           30        1         0          0         0          0          0
10          12        1         0          0         0          0          0
11          48        0         0          0         0          0          0
12          12        0         0          0         1          0          0
13          24        1         0          0         0          0          0
14          15        1         0          0         0          0          0
15          24        0         0          0         1          0          0
16          24        0         0          0         1          0          0
17          30        0         0          0         0          0          0
18          24        0         1          0         0          0          0
19          24        0         0          0         1          0          0
20           9        1         0          0         0          0          0
21           6        0         0          0         1          0          0
22          10        1         0          0         0          0          0
23          12        0         1          0         0          0          0
24          10        0         0          1         0          0          0
25           6        0         0          1         0          0          0
26           6        0         0          0         1          0          0
27          12        0         0          0         1          0          0
28           7        0         0          0         1          0          0
29          60        0         0          0         0          0          0
...        ...      ...       ...        ...       ...        ...        ...
970         15        0         0          0         0          0          0
971         24        1         0          0         0          0          0
972         24        1         0          0         0          0          0
973         60        0         0          0         0          0          0
974         30        0         0          0         1          0          0
975         24        0         0          0         1          0          0
976          6        0         0          0         1          0          0
977         18        0         0          0         0          0          0
978         24        1         0          0         0          0          0
979         15        1         0          0         0          0          0
980         30        0         0          1         0          0          0
981         48        0         0          0         0          0          0
982         21        1         0          0         0          0          0
983         36        0         1          0         0          0          0
984         24        0         0          1         0          0          0
985         15        0         0          1         0          0          0
986         42        0         0          0         0          0          0
987         13        0         0          0         1          0          0
988         24        0         1          0         0          0          0
989         24        0         0          0         1          0          0
990         12        0         0          0         0          1          0
991         15        0         0          0         1          0          0
992         18        0         0          0         1          0          0
993         36        0         0          1         0          0          0
994         12        1         0          0         0          0          0
995         12        0         0          1         0          0          0
996         30        0         1          0         0          0          0
997         12        0         0          0         1          0          0
998         45        0         0          0         1          0          0
999         45        0         1          0         0          0          0

      INSTALL_RATE  MALE_DIV  MALE_SINGLE  ...    SAV_ACCT_4  EMPLOYMENT_0  \
OBS#                                       ...
0                4         0            1  ...             1             0
1                2         0            0  ...             0             0
2                2         0            1  ...             0             0
3                2         0            1  ...             0             0
4                3         0            1  ...             0             0
5                2         0            1  ...             1             0
6                3         0            1  ...             0             0
7                2         0            1  ...             0             0
8                2         1            0  ...             0             0
9                4         0            0  ...             0             1
10               3         0            0  ...             0             0
11               3         0            0  ...             0             0
12               1         0            0  ...             0             0
13               4         0            1  ...             0             0
14               2         0            0  ...             0             0
15               4         0            0  ...             0             0
16               4         0            1  ...             1             0
17               2         0            1  ...             1             0
18               4         0            0  ...             0             0
19               3         0            1  ...             0             0
20               4         0            1  ...             0             0
21               2         0            1  ...             0             0
22               1         0            1  ...             0             0
23               3         0            1  ...             0             0
24               2         0            0  ...             1             0
25               1         0            1  ...             0             0
26               4         0            0  ...             0             0
27               3         0            0  ...             0             0
28               3         0            1  ...             0             0
29               3         0            1  ...             0             0
...            ...       ...          ...  ...           ...           ...
970              4         0            1  ...             0             0
971              1         0            1  ...             0             0
972              1         0            0  ...             0             1
973              4         0            1  ...             0             0
974              4         0            0  ...             0             0
975              3         0            0  ...             0             0
976              2         0            0  ...             0             0
977              4         0            1  ...             1             0
978              4         0            1  ...             0             0
979              2         0            0  ...             0             0
980              2         0            1  ...             0             0
981              3         0            1  ...             0             1
982              1         0            0  ...             0             0
983              2         0            1  ...             0             0
984              2         0            1  ...             0             0
985              4         0            0  ...             0             0
986              2         1            0  ...             0             0
987              2         0            0  ...             0             1
988              4         0            1  ...             0             1
989              4         0            1  ...             0             0
990              2         0            1  ...             1             0
991              4         0            1  ...             0             0
992              2         0            0  ...             1             0
993              4         0            1  ...             0             1
994              4         0            1  ...             1             0
995              3         0            0  ...             0             0
996              4         1            0  ...             0             0
997              4         0            1  ...             0             0
998              4         0            1  ...             0             0
999              3         0            1  ...             0             1

      EMPLOYMENT_1  EMPLOYMENT_2  EMPLOYMENT_3  EMPLOYMENT_4  JOB_0  JOB_1  \
OBS#
0                0             0             0             1      0      0
1                0             1             0             0      0      0
2                0             0             1             0      0      1
3                0             0             1             0      0      0
4                0             1             0             0      0      0
5                0             1             0             0      0      1
6                0             0             0             1      0      0
7                0             1             0             0      0      0
8                0             0             1             0      0      1
9                0             0             0             0      0      0
10               1             0             0             0      0      0
11               1             0             0             0      0      0
12               0             1             0             0      0      0
13               0             0             0             1      0      1
14               0             1             0             0      0      0
15               0             1             0             0      0      1
16               0             0             0             1      0      0
17               1             0             0             0      0      0
18               0             0             0             1      0      0
19               0             0             0             1      0      0
20               0             1             0             0      0      0
21               0             1             0             0      0      0
22               1             0             0             0      0      1
23               1             0             0             0      0      0
24               0             1             0             0      0      0
25               0             1             0             0      0      1
26               0             0             0             1      0      1
27               0             1             0             0      0      0
28               0             1             0             0      0      0
29               0             0             0             1      0      0
...            ...           ...           ...           ...    ...    ...
970              0             1             0             0      0      0
971              0             1             0             0      0      1
972              0             0             0             0      1      0
973              0             0             0             1      0      0
974              0             1             0             0      0      0
975              0             1             0             0      0      1
976              0             1             0             0      0      0
977              0             0             0             1      0      0
978              0             0             0             1      0      1
979              0             1             0             0      0      0
980              0             0             1             0      0      0
981              0             0             0             0      0      0
982              0             1             0             0      0      0
983              0             1             0             0      0      0
984              0             0             1             0      0      1
985              0             1             0             0      0      0
986              1             0             0             0      0      0
987              0             0             0             0      0      0
988              0             0             0             0      0      0
989              0             0             0             1      0      1
990              1             0             0             0      0      1
991              0             0             0             1      0      1
992              0             0             1             0      0      1
993              0             0             0             0      0      0
994              0             0             0             1      0      0
995              0             0             1             0      0      1
996              0             1             0             0      0      0
997              0             0             0             1      0      0
998              0             1             0             0      0      0
999              0             0             0             0      0      0

      JOB_2  JOB_3
OBS#
0         1      0
1         1      0
2         0      0
3         1      0
4         1      0
5         0      0
6         1      0
7         0      1
8         0      0
9         0      1
10        1      0
11        1      0
12        1      0
13        0      0
14        1      0
15        0      0
16        1      0
17        1      0
18        0      1
19        1      0
20        1      0
21        1      0
22        0      0
23        1      0
24        1      0
25        0      0
26        0      0
27        1      0
28        1      0
29        1      0
...     ...    ...
970       1      0
971       0      0
972       0      0
973       1      0
974       1      0
975       0      0
976       1      0
977       1      0
978       0      0
979       1      0
980       1      0
981       0      1
982       0      1
983       1      0
984       0      0
985       1      0
986       1      0
987       1      0
988       0      1
989       0      0
990       0      0
991       0      0
992       0      0
993       0      1
994       1      0
995       0      0
996       0      1
997       1      0
998       1      0
999       1      0

[1000 rows x 47 columns]

#### 1-3. Train-Test Split : `sklearn.model_selection.train_test_split`
---
지도학습을 위해 주어진 데이터를 train set과 test set으로 나눈다.

In [20]:
# import packages
from sklearn.model_selection import train_test_split

In [22]:
# train_test_split 
train_test_split(X, y, test_size = 0.25)

[      DURATION  NEW_CAR  USED_CAR  FURNITURE  RADIO/TV  EDUCATION  RETAINING  \
 OBS#
 14          15        1         0          0         0          0          0
 491         27        0         0          0         0          0          0
 715         30        0         1          0         0          0          0
 269         24        0         0          0         1          0          0
 863         27        0         0          1         0          0          0
 795          9        0         0          1         0          0          0
 130         48        1         0          0         0          0          0
 640         18        0         0          0         0          1          0
 116         42        0         0          0         1          0          0
 784         20        0         1          0         0          0          0
 839         24        0         0          0         1          0          0
 988         24        0         1          0         0          0          0
 627          9        1         0          0         0          0          0
 861         18        0         0          0         0          0          0
 245         24        0         0          0         0          0          0
 790         21        0         0          0         0          0          0
 927         48        0         1          0         0          0          0
 755         24        1         0          0         0          0          0
 450         36        0         1          0         0          0          0
 300          6        1         0          0         0          0          0
 272         48        1         0          0         0          0          0
 464         18        0         0          0         0          0          0
 529          6        1         0          0         0          0          0
 104         12        0         1          0         0          0          0
 623         12        0         0          1         0          0          0
 442         20        0         0          0         0          0          0
 952         24        0         1          0         0          0          0
 941         10        1         0          0         0          0          0
 691         15        0         0          0         0          0          0
 556         18        1         0          0         0          0          0
 ...        ...      ...       ...        ...       ...        ...        ...
 690         15        0         0          1         0          0          0
 579         24        0         0          0         0          0          1
 237         21        0         0          0         0          0          0
 994         12        1         0          0         0          0          0
 474         18        0         0          0         1          0          0
 308          8        0         0          1         0          0          0
 680          6        0         0          0         0          1          0
 467         48        0         0          0         1          0          0
 323         18        0         0          1         0          0          0
 815         36        1         0          0         0          0          0
 493          6        0         0          0         1          0          0
 967         15        0         0          0         1          0          0
 689         12        1         0          0         0          0          0
 142         27        0         0          0         1          0          0
 526         15        0         0          0         0          1          0
 673          6        1         0          0         0          0          0
 284         24        1         0          0         0          0          0
 489          6        1         0          0         0          0          0
 253         24        0         0          1         0          0          0
 577         24        0         0          0         0          1          0
 52          12        0         0          0         1          0          0
 452         12        0         0          1         0          0          0
 110          6        0         0          0         0          0          0
 714         60        1         0          0         0          0          0
 847         24        1         0          0         0          0          0
 853         18        1         0          0         0          0          0
 578         36        1         0          0         0          0          0
 42          18        0         0          0         0          0          0
 534         24        0         0          0         1          0          0
 393          6        0         0          0         1          0          0

       INSTALL_RATE  MALE_DIV  MALE_SINGLE  ...    SAV_ACCT_4  EMPLOYMENT_0  \
 OBS#                                       ...
 14               2         0            0  ...             0             0
 491              2         0            0  ...             0             0
 715              1         0            1  ...             1             0
 269              4         0            1  ...             1             0
 863              4         0            1  ...             0             0
 795              2         0            0  ...             0             0
 130              1         0            0  ...             1             0
 640              4         0            0  ...             0             1
 116              4         0            0  ...             1             0
 784              1         1            0  ...             1             1
 839              4         0            0  ...             0             0
 988              4         0            1  ...             0             1
 627              2         0            1  ...             0             0
 861              4         0            0  ...             0             0
 245              4         0            1  ...             0             0
 790              2         0            0  ...             0             0
 927              4         0            1  ...             0             0
 755              4         0            0  ...             1             0
 450              4         0            1  ...             1             0
 300              1         0            0  ...             0             1
 272              4         0            1  ...             1             1
 464              4         0            1  ...             0             0
 529              3         0            1  ...             0             0
 104              2         0            0  ...             1             0
 623              4         0            0  ...             0             0
 442              2         0            1  ...             0             0
 952              3         0            0  ...             0             0
 941              3         0            1  ...             0             0
 691              3         0            0  ...             0             0
 556              3         0            0  ...             0             0
 ...            ...       ...          ...  ...           ...           ...
 690              2         1            0  ...             0             0
 579              4         0            0  ...             0             0
 237              4         1            0  ...             0             0
 994              4         0            1  ...             1             0
 474              4         0            0  ...             0             0
 308              3         0            0  ...             0             0
 680              1         0            0  ...             0             0
 467              3         0            1  ...             1             0
 323              4         0            1  ...             0             0
 815              2         0            0  ...             0             0
 493              4         0            1  ...             1             0
 967              4         0            0  ...             0             0
 689              1         0            1  ...             0             0
 142              3         0            1  ...             0             0
 526              4         0            0  ...             0             0
 673              1         0            0  ...             0             0
 284              4         1            0  ...             0             0
 489              2         0            1  ...             0             0
 253              2         0            1  ...             0             0
 577              3         0            0  ...             1             0
 52               3         0            1  ...             0             0
 452              2         0            1  ...             0             0
 110              1         1            0  ...             0             0
 714              4         0            1  ...             0             0
 847              4         0            0  ...             0             0
 853              4         0            1  ...             0             0
 578              4         1            0  ...             0             0
 42               2         0            1  ...             0             0
 534              4         0            1  ...             1             0
 393              1         0            0  ...             0             0

       EMPLOYMENT_1  EMPLOYMENT_2  EMPLOYMENT_3  EMPLOYMENT_4  JOB_0  JOB_1  \
 OBS#
 14               0             1             0             0      0      0
 491              0             0             0             1      0      0
 715              0             0             0             1      0      0
 269              0             0             0             1      0      0
 863              1             0             0             0      0      1
 795              1             0             0             0      0      0
 130              0             0             1             0      0      0
 640              0             0             0             0      1      0
 116              0             0             1             0      0      0
 784              0             0             0             0      0      0
 839              0             0             0             1      0      0
 988              0             0             0             0      0      0
 627              0             0             1             0      0      0
 861              0             1             0             0      0      0
 245              0             0             1             0      0      0
 790              0             0             0             1      0      0
 927              0             0             1             0      0      0
 755              0             0             1             0      0      0
 450              0             1             0             0      0      0
 300              0             0             0             0      1      0
 272              0             0             0             0      0      0
 464              0             0             1             0      0      0
 529              1             0             0             0      0      1
 104              1             0             0             0      0      0
 623              1             0             0             0      0      0
 442              0             1             0             0      0      0
 952              1             0             0             0      0      0
 941              0             1             0             0      0      1
 691              0             1             0             0      0      1
 556              1             0             0             0      0      0
 ...            ...           ...           ...           ...    ...    ...
 690              0             1             0             0      0      0
 579              1             0             0             0      0      1
 237              0             0             0             1      0      1
 994              0             0             0             1      0      0
 474              0             1             0             0      0      0
 308              0             1             0             0      0      0
 680              1             0             0             0      0      0
 467              0             0             0             1      0      0
 323              0             1             0             0      0      0
 815              0             1             0             0      0      0
 493              0             0             0             1      0      0
 967              0             0             0             1      0      0
 689              0             1             0             0      0      0
 142              0             1             0             0      0      0
 526              0             1             0             0      0      0
 673              0             1             0             0      0      0
 284              1             0             0             0      0      0
 489              0             1             0             0      0      0
 253              0             1             0             0      0      0
 577              0             1             0             0      0      0
 52               0             1             0             0      0      0
 452              0             0             0             1      0      0
 110              0             0             0             1      0      0
 714              0             0             1             0      0      0
 847              1             0             0             0      0      0
 853              0             0             1             0      0      1
 578              1             0             0             0      0      0
 42               0             1             0             0      0      1
 534              1             0             0             0      0      0
 393              0             0             1             0      0      0

       JOB_2  JOB_3
 OBS#
 14        1      0
 491       0      1
 715       1      0
 269       1      0
 863       0      0
 795       1      0
 130       1      0
 640       0      0
 116       0      1
 784       0      1
 839       1      0
 988       0      1
 627       1      0
 861       1      0
 245       1      0
 790       1      0
 927       1      0
 755       1      0
 450       0      1
 300       0      0
 272       0      1
 464       1      0
 529       0      0
 104       1      0
 623       1      0
 442       1      0
 952       1      0
 941       0      0
 691       0      0
 556       1      0
 ...     ...    ...
 690       1      0
 579       0      0
 237       0      0
 994       1      0
 474       1      0
 308       1      0
 680       1      0
 467       1      0
 323       1      0
 815       1      0
 493       1      0
 967       0      1
 689       1      0
 142       0      1
 526       1      0
 673       1      0
 284       1      0
 489       1      0
 253       1      0
 577       1      0
 52        1      0
 452       1      0
 110       1      0
 714       0      1
 847       1      0
 853       0      0
 578       1      0
 42        0      0
 534       1      0
 393       1      0

 [750 rows x 47 columns],
       DURATION  NEW_CAR  USED_CAR  FURNITURE  RADIO/TV  EDUCATION  RETAINING  \
 OBS#
 706         48        1         0          0         0          0          0
 845         21        0         0          1         0          0          0
 250          6        1         0          0         0          0          0
 595          6        1         0          0         0          0          0
 658         30        0         0          0         0          0          0
 972         24        1         0          0         0          0          0
 663          6        0         0          1         0          0          0
 205         30        0         1          0         0          0          0
 648         24        1         0          0         0          0          0
 911         24        0         0          1         0          0          0
 843         24        0         0          0         0          0          0
 881         24        0         1          0         0          0          0
 41          12        0         0          0         1          0          0
 899         18        0         0          1         0          0          0
 867         12        0         0          1         0          0          0
 652         24        1         0          0         0          0          0
 703         30        0         0          0         0          0          0
 734          4        1         0          0         0          0          0
 397         36        0         0          1         0          0          0
 624         18        0         0          0         1          0          0
 350          9        0         0          0         0          0          0
 995         12        0         0          1         0          0          0
 246         12        0         0          0         1          0          0
 304         48        1         0          0         0          0          0
 159          6        0         0          0         1          0          0
 805         36        1         0          0         0          0          0
 620         21        0         0          0         0          0          0
 6           24        0         0          1         0          0          0
 43          30        0         1          0         0          0          0
 297         10        1         0          0         0          0          0
 ...        ...      ...       ...        ...       ...        ...        ...
 576         12        0         0          0         1          0          0
 515          6        1         0          0         0          0          0
 695          6        0         1          0         0          0          0
 868         36        0         0          0         0          0          0
 428          9        0         0          1         0          0          0
 938         60        0         0          0         0          1          0
 610         12        0         0          0         0          0          0
 939         24        0         1          0         0          0          0
 483         15        0         0          1         0          0          0
 564         24        0         0          0         0          0          0
 469         24        0         1          0         0          0          0
 54          36        1         0          0         0          0          0
 735         36        0         0          0         0          0          0
 506         15        0         1          0         0          0          0
 541         24        1         0          0         0          0          0
 204         12        1         0          0         0          0          0
 260         12        0         0          1         0          0          0
 375         48        0         0          0         0          0          0
 705         15        1         0          0         0          0          0
 192         27        0         0          0         0          0          0
 169         24        0         0          0         0          0          0
 239         30        0         0          0         1          0          0
 430          5        0         0          0         0          0          0
 59          36        0         0          1         0          0          0

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
print(X_train, X_test, y_train, y_test)

      DURATION  NEW_CAR  USED_CAR  FURNITURE  RADIO/TV  EDUCATION  RETAINING  \
OBS#
110          6        0         0          0         0          0          0
234          4        0         0          0         1          0          0
433         24        0         0          0         0          0          0
384         30        0         0          0         0          0          0
982         21        1         0          0         0          0          0
559         18        0         0          1         0          0          0
698         18        0         0          0         1          0          0
43          30        0         1          0         0          0          0
208         24        0         0          0         0          0          0
221         12        0         0          0         0          1          0
74          36        0         0          0         0          1          0
244         12        0         0          0         0          0          1
300          6        1         0          0         0          0          0
581         12        1         0          0         0          0          0
462         12        0         0          1         0          0          0
128         12        0         1          0         0          0          0
472          9        1         0          0         0          0          0
966         27        0         0          0         1          0          0
725          6        1         0          0         0          0          0
597         24        0         0          0         0          0          0
891         15        0         0          0         1          0          0
751         18        1         0          0         0          0          0
417         18        0         0          0         0          1          0
326         12        0         0          1         0          0          0
277         12        0         0          1         0          0          0
846         18        1         0          0         0          0          0
633          9        0         0          1         0          0          0
197         12        0         0          1         0          0          0
836         12        0         0          0         1          0          0
403         14        1         0          0         0          0          0
...        ...      ...       ...        ...       ...        ...        ...
963         24        0         0          0         1          0          0
730         24        0         0          0         1          0          0
810          8        0         0          0         0          0          0
350          9        0         0          0         0          0          0
153         24        0         1          0         0          0          0
531         15        1         0          0         0          0          0
534         24        0         0          0         1          0          0
1           48        0         0          0         1          0          0
938         60        0         0          0         0          1          0
720          9        0         0          0         1          0          0
724         27        1         0          0         0          0          0
507         15        1         0          0         0          0          0
243         12        0         0          0         0          0          0
640         18        0         0          0         0          1          0
90          12        0         0          0         1          0          0
619         12        1         0          0         0          0          0
993         36        0         0          1         0          0          0
96          12        0         0          0         0          1          0
782         12        0         0          0         0          0          1
367         18        0         0          1         0          0          0
483         15        0         0          1         0          0          0
955         24        0         0          0         1          0          0
39           9        0         0          0         1          0          0
513         12        0         0          0         1          0          0
882         30        1         0          0         0          0          0
562          6        0         0          0         1          0          0
576         12        0         0          0         1          0          0
693          6        1         0          0         0          0          0
818         36        0         0          0         0          0          0
560         24        0         1          0         0          0          0

      INSTALL_RATE  MALE_DIV  MALE_SINGLE  ...    SAV_ACCT_4  EMPLOYMENT_0  \
OBS#                                       ...
110              1         1            0  ...             0             0
234              2         0            1  ...             0             0
433              4         1            0  ...             0             0
384              2         0            1  ...             0             0
982              1         0            0  ...             0             0
559              2         0            1  ...             0             0
698              4         0            1  ...             0             0
43               1         0            0  ...             0             0
208              2         0            0  ...             0             0
221              4         0            0  ...             1             0
74               4         0            1  ...             1             0
244              4         0            0  ...             0             0
300              1         0            0  ...             0             1
581              1         0            1  ...             0             0
462              3         0            0  ...             0             0
128              4         0            1  ...             0             1
472              4         0            1  ...             0             0
966              4         0            1  ...             0             0
725              2         0            0  ...             0             0
597              1         0            1  ...             0             0
891              4         0            1  ...             0             0
751              1         0            0  ...             0             0
417              1         0            0  ...             1             0
326              2         0            1  ...             1             0
277              2         1            0  ...             1             0
846              2         0            1  ...             1             0
633              2         0            0  ...             0             0
197              4         0            0  ...             0             0
836              4         0            0  ...             1             0
403              4         0            1  ...             0             0
...            ...       ...          ...  ...           ...           ...
963              3         0            1  ...             0             0
730              1         0            1  ...             0             0
810              3         0            0  ...             0             0
350              1         0            0  ...             0             0
153              2         0            0  ...             0             0
531              2         0            0  ...             0             0
534              4         0            1  ...             1             0
1                2         0            0  ...             0             0
938              4         0            1  ...             0             0
720              4         0            1  ...             0             0
724              3         0            0  ...             0             0
507              1         0            1  ...             0             1
243              3         0            0  ...             0             0
640              4         0            0  ...             0             1
90               4         0            1  ...             0             0
619              4         1            0  ...             0             0
993              4         0            1  ...             0             1
96               4         0            0  ...             1             0
782              2         0            1  ...             0             0
367              1         0            0  ...             0             0
483              3         0            0  ...             0             0
955              4         0            0  ...             0             0
39               4         0            1  ...             0             0
513              4         0            0  ...             0             0
882              4         0            1  ...             1             0
562              2         0            0  ...             0             0
576              2         0            0  ...             0             0
693              1         0            1  ...             1             0
818              2         1            0  ...             0             1
560              4         0            1  ...             1             0

      EMPLOYMENT_1  EMPLOYMENT_2  EMPLOYMENT_3  EMPLOYMENT_4  JOB_0  JOB_1  \
OBS#
110              0             0             0             1      0      0
234              0             0             1             0      0      1
433              0             1             0             0      0      0
384              0             1             0             0      0      1
982              0             1             0             0      0      0
559              1             0             0             0      0      1
698              0             1             0             0      0      0
43               0             0             1             0      0      0
208              0             1             0             0      0      1
221              0             1             0             0      0      0
74               0             0             0             1      0      0
244              0             1             0             0      0      1
300              0             0             0             0      1      0
581              1             0             0             0      0      1
462              1             0             0             0      0      0
128              0             0             0             0      0      0
472              0             1             0             0      0      1
966              0             1             0             0      0      1
725              0             1             0             0      0      1
597              0             1             0             0      0      1
891              0             0             0             1      0      0
751              1             0             0             0      0      1
417              0             1             0             0      0      0
326              0             0             0             1      0      0
277              0             0             0             1      0      1
846              0             1             0             0      0      0
633              1             0             0             0      0      0
197              1             0             0             0      0      0
836              0             1             0             0      0      0
403              0             1             0             0      0      1
...            ...           ...           ...           ...    ...    ...
963              0             0             0             1      0      0
730              1             0             0             0      0      0
810              1             0             0             0      0      0
350              1             0             0             0      0      0
153              0             0             0             1      0      0
531              0             1             0             0      0      0
534              1             0             0             0      0      0
1                0             1             0             0      0      0
938              0             1             0             0      0      0
720              1             0             0             0      0      0
724              0             1             0             0      0      0
507              0             0             0             0      0      0
243              0             1             0             0      0      0
640              0             0             0             0      1      0
90               0             0             0             1      0      0
619              0             1             0             0      0      1
993              0             0             0             0      0      0
96               0             0             1             0      0      0
782              0             1             0             0      0      1
367              1             0             0             0      0      0
483              0             0             1             0      0      0
955              0             0             0             1      0      0
39               0             1             0             0      0      0
513              0             1             0             0      0      0
882              0             0             0             1      0      0
562              1             0             0             0      0      0
576              0             0             1             0      0      0
693              1             0             0             0      0      1
818              0             0             0             0      0      0
560              0             0             0             1      0      0

      JOB_2  JOB_3
OBS#
110       1      0
234       0      0
433       1      0
384       0      0
982       0      1
559       0      0
698       1      0
43        1      0
208       0      0
221       1      0
74        0      1
244       0      0
300       0      0
581       0      0
462       0      1
128       0      1
472       0      0
966       0      0
725       0      0
597       0      0
891       1      0
751       0      0
417       1      0
326       1      0
277       0      0
846       1      0
633       1      0
197       1      0
836       1      0
403       0      0
...     ...    ...
963       1      0
730       1      0
810       1      0
350       1      0
153       1      0
531       1      0
534       1      0
1         1      0
938       1      0
720       0      1
724       1      0
507       0      1
243       1      0
640       0      0
90        1      0
619       0      0
993       0      1
96        1      0
782       0      0
367       1      0
483       1      0
955       0      1
39        1      0
513       1      0
882       1      0
562       1      0
576       1      0
693       0      0
818       0      1
560       1      0

[750 rows x 47 columns]       DURATION  NEW_CAR  USED_CAR  FURNITURE  RADIO/TV  EDUCATION  RETAINING  \
OBS#
862         24        0         0          0         1          0          0
604         10        0         0          1         0          0          0
864         10        0         0          1         0          0          0
92          12        0         0          0         1          0          0
19          24        0         0          0         1          0          0
863         27        0         0          1         0          0          0
122         12        0         0          1         0          0          0
461         15        1         0          0         0          0          0
355         24        1         0          0         0          0          0
916         10        0         1          0         0          0          0
379          6        1         0          0         0          0          0
159          6        0         0          0         1          0          0
397         36        0         0          1         0          0          0
249         18        0         0          0         1          0          0
432          6        0         0          1         0          0          0
187         16        1         0          0         0          0          0
301         36        0         0          0         1          0          0
313         12        1         0          0         0          0          0
589         12        0         0          1         0          0          0
827         18        0         0          0         0          0          0
295         48        0         0          1         0          0          0
815         36        1         0          0         0          0          0
900         16        1         0          0         0          0          0
377          7        0         0          0         1          0          0
856         10        0         0          0         0          0          1
30          18        0         0          0         0          0          0
133         18        0         0          1         0          0          0
424         12        0         0          1         0          0          0
570         24        0         0          1         0          0          0
412         12        0         0          0         0          0          0
...        ...      ...       ...        ...       ...        ...        ...
772         21        0         1          0         0          0          0
147         12        1         0          0         0          0          0
884         24        0         0          1         0          0          0
646         30        0         0          1         0          0          0
754         12        0         0          0         0          0          0
429         18        0         0          0         0          0          0
394          9        0         0          1         0          0          0
202         27        0         0          0         0          0          0
908         15        0         1          0         0          0          0
964          6        0         0          0         0          0          0
733         24        0         1          0         0          0          0
656         12        1         0          0         0          0          0
109         14        0         0          0         0          0          0
506         15        0         1          0         0          0          0
289         24        0         0          0         1          0          0
142         27        0         0          0         1          0          0
452         12        0         0          1         0          0          0
444         48        0         0          1         0          0          0
216         18        0         0          0         0          0          0
976          6        0         0          0         1          0          0
504         24        1         0          0         0          0          0
930         24        0         0          1         0          0          0
184         18        1         0          0         0          0          0
997         12        0         0          0         1          0          0
866         18        0         0          0         1          0          0
448         12        0         0          1         0          0          0
440         12        1         0          0         0          0          0
898         15        0         0          1         0          0          0

In [36]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 23)
# 모두 같은 train, test 스플릿을 쓰게 하고 싶을 때 put random state
# 랜던 스테이트, 이미 뽑은 숫자 중 하나를 꺼내서 쓴다는 것.

In [37]:
# random_state
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 23)

### 2. Linear Regression
---

#### 2-1. `sklearn.linear_model.LinearRegression`
---

In [38]:
# import packages
from sklearn.linear_model import LinearRegression

In [78]:
# Parameters
# fit_intercept = True # 상수를 넣을 것인지 #기본이 트루
# normalize = False # 변수들을 normalize한 상태로 모델을 얻을 것인지

In [39]:
# lr_model
lr_model = LinearRegression()

In [40]:
# fit to model
lr_model.fit(X=X_train, y = y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
# get predictions
lr_model.predict(X= X_test) # 예측할 때에 X 테스트 값만 던져주면 된다
y_pred_lr = lr_model.predict(X = X_test)

In [50]:
# result_y_test_df  # 가변수화 시켜서 갯수가 훨씬 많아짐
# y는 지금 series 입니다. 그래서 df로 바꾸는 것
result_y_test_df = pd.DataFrame(y_test)
print(result_y_test_df)

      AMOUNT
OBS#
519      700
837      601
208     6568
525     7966
978     2538
583     2384
508     1413
158     3512
589     2246
201     1168
280     3368
167     1577
974     2831
95     15945
236    14555
203      902
790     1188
428     1313
998     1845
381    12976
705     5324
410     1967
684     9857
211     3835
585     2039
934     1498
905     1107
883     1098
844     3422
329     1068
...      ...
196     1382
995     1736
345     1459
59      6229
215      932
22      2241
26       426
253     4151
157      339
816     1338
655     3973
847     1249
729     1275
415     5842
733     2603
749     3029
955     1231
477     5152
919     3345
983     8229
734     3380
819     1345
404     2899
860     5804
268     8978
689     3651
979     1264
161     1055
935     1919
502     1126

[250 rows x 1 columns]

In [53]:
# 여기에 선형으로 예측하 값을 넣어준다. 
result_y_test_df['lr'] = y_pred_lr
print(result_y_test_df) # 엄청 차이가 크다

      AMOUNT           lr
OBS#
519      700   494.091598
837      601  1596.477601
208     6568  3111.590480
525     7966  5437.910722
978     2538  2679.097113
583     2384  5228.838401
508     1413  1574.169316
158     3512  4578.534863
589     2246  2049.206111
201     1168   111.155696
280     3368  3913.900885
167     1577   404.137925
974     2831  3223.550695
95     15945  8948.136831
236    14555  2154.046600
203      902  -230.834214
790     1188  2892.136729
428     1313  2557.070204
998     1845  5665.824196
381    12976  4812.206868
705     5324  3067.683465
410     1967  2022.994469
684     9857  7098.577546
211     3835  5442.658530
585     2039  3238.698001
934     1498   192.261987
905     1107  3647.022826
883     1098   473.319620
844     3422  2277.676422
329     1068  -559.132122
...      ...          ...
196     1382  2713.699194
995     1736  1221.404150
345     1459   887.687721
59      6229  6266.557221
215      932  2506.008072
22      2241  3277.251236
26       426 -1007.501435
253     4151  4650.826428
157      339    52.142256
816     1338  2298.065147
655     3973  3514.113494
847     1249  1787.820315
729     1275  3826.858069
415     5842  6584.154213
733     2603  4623.917535
749     3029  3586.413700
955     1231  3674.556725
477     5152  1412.628346
919     3345  4184.198414
983     8229  6091.689402
734     3380  1563.341962
819     1345   410.578483
404     2899  1943.235594
860     5804  3173.223073
268     8978  5177.573675
689     3651  2967.312731
979     1264  2380.299519
161     1055  1817.830653
935     1919  5752.289064
502     1126   753.023110

[250 rows x 2 columns]

In [48]:
lr_model.coef_
lr_model.intercept_

1183.529357655078

#### 2-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`
---

In [55]:
# import packages
from sklearn.metrics import mean_squared_error # 절대값 쓰는 것도 있긴 함.

In [58]:
# error_lr_
error_lr = mean_squared_error(y_pred = y_pred_lr, y_true = y_test)
error_lr

4449394.0814874154

In [62]:
# rms_lr
import math
rmse_lr = math.sqrt(error_lr)
rmse_lr

2109.358689622847

### 3. k-nn
---

#### 3-1. `sklearn.neighbors.KNeighborRegressor`
---

In [64]:
# import packages
from sklearn.neighbors import KNeighborsRegressor

In [65]:
# set parameters
n_neighbors = 5
# weights = 'uniform' # 주변 데이터의 가중치를 모두 동일하게,(분모가 모두 1로) 'distance' 선택시, 거리에 반비례 (분모가 거리)
weights = 'uniform'

In [89]:
# knn_model
knn_model = KNeighborsRegressor(n_neighbors = n_neighbors, weights = 'distance') # 가중치 내맘대로 해봤음

In [90]:
# fit to model
knn_model.fit(X=X_train, y=y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='distance')

In [91]:
# get predictions
y_pred_knn = knn_model.predict(X = X_test)

In [92]:
# result_y_test_df
result_y_test_df['knn'] = y_pred_knn
result_y_test_df

      AMOUNT           lr           knn
OBS#
519      700   494.091598   1073.012456
837      601  1596.477601   1198.934760
208     6568  3111.590480   2567.088668
525     7966  5437.910722   5774.316500
978     2538  2679.097113   3371.819978
583     2384  5228.838401   4043.143788
508     1413  1574.169316   2259.792965
158     3512  4578.534863   5242.623174
589     2246  2049.206111   1651.336263
201     1168   111.155696   1127.916291
280     3368  3913.900885   2173.906686
167     1577   404.137925   1328.966790
974     2831  3223.550695   3848.006166
95     15945  8948.136831   8608.518450
236    14555  2154.046600   1486.602757
203      902  -230.834214    897.619203
790     1188  2892.136729   2901.634927
428     1313  2557.070204   1666.163845
998     1845  5665.824196   6180.502801
381    12976  4812.206868   3935.209123
705     5324  3067.683465   1706.992820
410     1967  2022.994469   2730.865495
684     9857  7098.577546   6184.527335
211     3835  5442.658530  11589.058349
585     2039  3238.698001   2391.206617
934     1498   192.261987   1914.416120
905     1107  3647.022826   1275.117352
883     1098   473.319620   2038.380394
844     3422  2277.676422   1590.098702
329     1068  -559.132122    984.560540
...      ...          ...           ...
196     1382  2713.699194   1229.031990
995     1736  1221.404150   1445.456030
345     1459   887.687721   2227.732725
59      6229  6266.557221   6201.338307
215      932  2506.008072   1842.494682
22      2241  3277.251236   1775.379465
26       426 -1007.501435    711.280981
253     4151  4650.826428   2936.159224
157      339    52.142256   1507.689704
816     1338  2298.065147   1260.284525
655     3973  3514.113494   2190.590841
847     1249  1787.820315   2122.310768
729     1275  3826.858069   2589.933217
415     5842  6584.154213   6074.688513
733     2603  4623.917535   3639.914414
749     3029  3586.413700   3400.863605
955     1231  3674.556725   1355.870187
477     5152  1412.628346   2408.600886
919     3345  4184.198414   3182.030686
983     8229  6091.689402   5022.791442
734     3380  1563.341962   2131.682658
819     1345   410.578483   1921.639821
404     2899  1943.235594   3294.121734
860     5804  3173.223073   3430.184456
268     8978  5177.573675   2345.423602
689     3651  2967.312731   1995.312024
979     1264  2380.299519   1653.783667
161     1055  1817.830653   1695.253106
935     1919  5752.289064   4103.367948
502     1126   753.023110   2136.107323

[250 rows x 3 columns]

#### 3-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`
---

In [15]:
# import packages

In [95]:
# error_knn
# rms_knn
error_knn = mean_squared_error(y_true = y_test, y_pred = y_pred_knn)
rmse_knn = math.sqrt(error_knn)
rmse_knn

2548.0016945168636

### 4. SVM
---

#### 4-1. `sklearn.svm.LinearSVR`
---

In [96]:
# import packages
from sklearn.svm import LinearSVR

In [97]:
# set parameters
# C=1.0 # soft margin 허용량
C = 1.0 # C가 커질수록 소프트해진당

In [98]:
#svm_model
svm_model = LinearSVR(C=C)

In [99]:
# fit to model
svm_model.fit(X=X_train, y=y_train)

LinearSVR(C=1.9, dual=True, epsilon=0.0, fit_intercept=True,
     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
     random_state=None, tol=0.0001, verbose=0)

In [169]:
# get predictions
y_pred_svm = svm_model.predict(X=X_test)
print(X_test)

      DURATION  NEW_CAR  USED_CAR  FURNITURE  RADIO/TV  EDUCATION  RETAINING  \
OBS#
519          6        0         0          0         1          0          0
837          4        0         0          1         0          0          0
208         24        0         0          0         0          0          0
525         26        0         1          0         0          0          0
978         24        1         0          0         0          0          0
583         36        0         0          0         0          0          0
508         24        0         0          0         1          0          0
158         24        1         0          0         0          0          0
589         12        0         0          1         0          0          0
201         12        1         0          0         0          0          0
280         15        0         1          0         0          0          0
167         11        0         0          1         0          0          0
974         30        0         0          0         1          0          0
95          54        0         0          0         0          0          0
236          6        1         0          0         0          0          0
203         12        0         0          0         0          0          1
790         21        0         0          0         0          0          0
428          9        0         0          1         0          0          0
998         45        0         0          0         1          0          0
381         18        0         1          0         0          0          0
705         15        1         0          0         0          0          0
410         24        0         0          0         1          0          0
684         36        0         0          0         0          0          0
211         36        0         0          0         1          0          0
585         18        0         0          1         0          0          0
934         12        0         0          0         1          0          0
905         12        0         0          0         1          0          0
883         18        0         0          0         1          0          0
844         18        0         0          1         0          0          0
329          6        0         0          0         1          0          0
...        ...      ...       ...        ...       ...        ...        ...
196          6        0         0          0         1          0          0
995         12        0         0          1         0          0          0
345         15        0         0          0         1          0          0
59          36        0         0          1         0          0          0
215          6        0         0          0         0          0          1
22          10        1         0          0         0          0          0
26           6        0         0          0         1          0          0
253         24        0         0          1         0          0          0
157         12        0         0          0         0          0          1
816          6        0         0          0         0          0          0
655         14        1         0          0         0          0          0
847         24        1         0          0         0          0          0
729         24        0         0          0         0          0          0
415         36        0         1          0         0          0          0
733         24        0         1          0         0          0          0
749         15        0         1          0         0          0          0
955         24        0         0          0         1          0          0
477         24        0         0          0         1          0          0
919         24        0         0          1         0          0          0
983         36        0         1          0         0          0          0
734          4        1         0          0         0          0          0
819         18        0         0          0         1          0          0
404         18        1         0          0         0          0          0
860         24        0         1          0         0          0          0
268         14        1         0          0         0          0          0
689         12        1         0          0         0          0          0
979         15        1         0          0         0          0          0
161         18        1         0          0         0          0          0
935         30        0         0          0         1          0          0
502          9        0         0          0         1          0          0

      INSTALL_RATE  MALE_DIV  MALE_SINGLE  ...    SAV_ACCT_4  EMPLOYMENT_0  \
OBS#                                       ...
519              4         0            1  ...             1             0
837              1         0            0  ...             0             0
208              2         0            0  ...             0             0
525              2         0            1  ...             0             0
978              4         0            1  ...             0             0
583              4         0            1  ...             0             0
508              4         0            0  ...             0             0
158              2         0            1  ...             0             0
589              3         0            1  ...             0             0
201              4         0            0  ...             0             0
280              3         0            1  ...             0             0
167              4         0            0  ...             0             0
974              4         0            0  ...             0             0
95               3         0            1  ...             0             0
236              1         0            1  ...             1             1
203              4         0            0  ...             0             0
790              2         0            0  ...             0             0
428              1         0            1  ...             0             0
998              4         0            1  ...             0             0
381              3         0            0  ...             0             1
705              1         0            0  ...             0             0
410              4         0            0  ...             0             0
684              1         0            1  ...             0             0
211              2         0            0  ...             1             0
585              1         0            0  ...             0             0
934              4         0            0  ...             0             0
905              2         0            1  ...             0             0
883              4         0            0  ...             0             1
844              4         0            1  ...             0             0
329              4         0            1  ...             0             0
...            ...       ...          ...  ...           ...           ...
196              1         0            0  ...             0             0
995              3         0            0  ...             0             0
345              4         0            0  ...             0             0
59               4         0            0  ...             0             0
215              1         0            0  ...             1             0
22               1         0            1  ...             0             0
26               4         0            0  ...             0             0
253              2         0            1  ...             0             0
157              4         0            0  ...             0             0
816              1         1            0  ...             0             0
655              1         0            1  ...             0             1
847              4         0            0  ...             0             0
729              2         1            0  ...             0             0
415              2         0            1  ...             0             0
733              2         0            0  ...             0             0
749              2         0            1  ...             0             0
955              4         0            0  ...             0             0
477              4         0            1  ...             0             0
919              4         0            1  ...             0             0
983              2         0            1  ...             0             0
734              1         0            0  ...             0             0
819              4         0            0  ...             0             0
404              4         0            1  ...             1             0
860              4         0            1  ...             0             0
268              1         1            0  ...             0             0
689              1         0            1  ...             0             0
979              2         0            0  ...             0             0
161              4         0            0  ...             0             0
935              4         0            1  ...             0             0
502              2         1            0  ...             0             0

      EMPLOYMENT_1  EMPLOYMENT_2  EMPLOYMENT_3  EMPLOYMENT_4  JOB_0  JOB_1  \
OBS#
519              0             0             0             1      0      0
837              1             0             0             0      0      1
208              0             1             0             0      0      1
525              1             0             0             0      0      0
978              0             0             0             1      0      1
583              1             0             0             0      0      1
508              0             1             0             0      0      0
158              0             0             1             0      0      0
589              0             0             0             1      0      0
201              0             1             0             0      0      1
280              0             0             0             1      0      0
167              1             0             0             0      0      0
974              0             1             0             0      0      0
95               1             0             0             0      0      0
236              0             0             0             0      1      0
203              0             0             1             0      0      0
790              0             0             0             1      0      0
428              0             0             0             1      0      0
998              0             1             0             0      0      0
381              0             0             0             0      0      0
705              0             0             0             1      0      0
410              0             0             0             1      0      0
684              0             0             1             0      0      1
211              0             0             0             1      0      1
585              0             1             0             0      0      0
934              0             1             0             0      0      0
905              0             1             0             0      0      0
883              0             0             0             0      1      0
844              0             0             0             1      0      0
329              0             0             0             1      0      0
...            ...           ...           ...           ...    ...    ...
196              0             1             0             0      0      0
995              0             0             1             0      0      1
345              0             1             0             0      0      1
59               1             0             0             0      0      1
215              0             0             1             0      0      1
22               1             0             0             0      0      1
26               0             0             0             1      0      1
253              0             1             0             0      0      0
157              0             0             0             1      0      1
816              0             1             0             0      0      0
655              0             0             0             0      0      0
847              1             0             0             0      0      0
729              0             1             0             0      0      0
415              0             0             0             1      0      0
733              0             1             0             0      0      0
749              0             0             1             0      0      0
955              0             0             0             1      0      0
477              0             0             1             0      0      0
919              0             0             0             1      0      0
983              0             1             0             0      0      0
734              0             0             1             0      0      0
819              0             1             0             0      0      0
404              0             0             0             1      0      0
860              0             1             0             0      0      0
268              0             0             0             1      0      0
689              0             1             0             0      0      0
979              0             1             0             0      0      0
161              1             0             0             0      0      0
935              1             0             0             0      0      0
502              0             0             0             1      0      0

      JOB_2  JOB_3
OBS#
519       1      0
837       0      0
208       0      0
525       1      0
978       0      0
583       0      0
508       1      0
158       1      0
589       1      0
201       0      0
280       1      0
167       1      0
974       1      0
95        1      0
236       0      0
203       1      0
790       1      0
428       1      0
998       1      0
381       0      1
705       1      0
410       1      0
684       0      0
211       0      0
585       1      0
934       1      0
905       0      1
883       0      0
844       1      0
329       1      0
...     ...    ...
196       1      0
995       0      0
345       0      0
59        0      0
215       0      0
22        0      0
26        0      0
253       1      0
157       0      0
816       1      0
655       1      0
847       1      0
729       1      0
415       1      0
733       1      0
749       1      0
955       0      1
477       1      0
919       0      1
983       1      0
734       1      0
819       1      0
404       1      0
860       1      0
268       0      1
689       1      0
979       1      0
161       1      0
935       0      1
502       1      0

[250 rows x 47 columns]

In [103]:
# result_y_test_df
result_y_test_df['svm']=y_pred_svm
result_y_test_df

      AMOUNT           lr           knn          svm
OBS#
519      700   494.091598   1073.012456   453.053057
837      601  1596.477601   1198.934760   908.129212
208     6568  3111.590480   2567.088668  3039.058258
525     7966  5437.910722   5774.316500  3711.730222
978     2538  2679.097113   3371.819978  3078.644052
583     2384  5228.838401   4043.143788  4439.214946
508     1413  1574.169316   2259.792965  2605.157505
158     3512  4578.534863   5242.623174  3595.905059
589     2246  2049.206111   1651.336263  1977.204169
201     1168   111.155696   1127.916291   955.207198
280     3368  3913.900885   2173.906686  1915.010078
167     1577   404.137925   1328.966790   824.018172
974     2831  3223.550695   3848.006166  3587.440792
95     15945  8948.136831   8608.518450  7626.580231
236    14555  2154.046600   1486.602757  1231.643614
203      902  -230.834214    897.619203   966.897848
790     1188  2892.136729   2901.634927  3014.250888
428     1313  2557.070204   1666.163845  1483.795952
998     1845  5665.824196   6180.502801  5446.204064
381    12976  4812.206868   3935.209123  2632.731227
705     5324  3067.683465   1706.992820  2420.352230
410     1967  2022.994469   2730.865495  2478.961227
684     9857  7098.577546   6184.527335  5381.575053
211     3835  5442.658530  11589.058349  4995.964849
585     2039  3238.698001   2391.206617  2590.009821
934     1498   192.261987   1914.416120   926.871804
905     1107  3647.022826   1275.117352  1721.286697
883     1098   473.319620   2038.380394  2485.313793
844     3422  2277.676422   1590.098702  2491.801903
329     1068  -559.132122    984.560540   280.438593
...      ...          ...           ...          ...
196     1382  2713.699194   1229.031990  1236.690356
995     1736  1221.404150   1445.456030  1437.540313
345     1459   887.687721   2227.732725  1665.683468
59      6229  6266.557221   6201.338307  4380.205772
215      932  2506.008072   1842.494682  1350.968879
22      2241  3277.251236   1775.379465  2117.068433
26       426 -1007.501435    711.280981   321.168409
253     4151  4650.826428   2936.159224  3551.730029
157      339    52.142256   1507.689704  1227.457053
816     1338  2298.065147   1260.284525  1695.290532
655     3973  3514.113494   2190.590841  2189.603620
847     1249  1787.820315   2122.310768  2634.033545
729     1275  3826.858069   2589.933217  3389.027207
415     5842  6584.154213   6074.688513  5190.896017
733     2603  4623.917535   3639.914414  3426.525704
749     3029  3586.413700   3400.863605  2313.117103
955     1231  3674.556725   1355.870187  3211.360826
477     5152  1412.628346   2408.600886  2584.851959
919     3345  4184.198414   3182.030686  3106.625326
983     8229  6091.689402   5022.791442  4962.114974
734     3380  1563.341962   2131.682658  1079.841448
819     1345   410.578483   1921.639821  1667.888137
404     2899  1943.235594   3294.121734  2198.470784
860     5804  3173.223073   3430.184456  2753.952021
268     8978  5177.573675   2345.423602  2624.348749
689     3651  2967.312731   1995.312024  2082.449417
979     1264  2380.299519   1653.783667  2000.140714
161     1055  1817.830653   1695.253106  1994.553233
935     1919  5752.289064   4103.367948  3659.332198
502     1126   753.023110   2136.107323  1411.991213

[250 rows x 4 columns]

#### 4-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`
---

In [21]:
# import packages

In [105]:
# error_svm
# rms_svm_
error_svm = mean_squared_error(y_true= y_test, y_pred = y_pred_svm)
rmse_svm = math.sqrt(error_svm)
rmse_svm

2398.6047959816356

### 5. Cross Validation Test
---
#### 5-1. 필요성
---

In [127]:
# train, test set을 바꿔보자
X_train_new, X_test_new, y_train_new,y_test_new = train_test_split(X, y, test_size = 0.25, random_state = 17)

In [128]:
# 이미 학습한 모델로 새로운 test set의 prediction 값을 얻어보자
y_pred_new = lr_model.predict(X = X_test_new)

In [129]:
# rmsy_pred 
math.sqrt(mean_squared_error(y_pred = y_pred_new, y_true = y_test))

3792.961673326015

#### 5-2.  K-Fold Cross Validation : `sklearn.cross_validation.cross_val_score`
---

In [113]:
# import packages
# 어떤 모델을 쓸 지 결정할 때 쓴다! KNN을 쓸지 SVM 을 쓸지 등등!
# 데이터가 작을 때 쓰기 좋다. 많으면 그냥 하면 되니까! 
from sklearn.cross_validation import cross_val_score

/home/snu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [118]:
# set parameters
# estimator= # fit 한 모델 # 핏 할 모델!
estimator = lr_model
# cv= # 전체 데이터를 k개의 그룹으로 나누고 총 k번의 모델 training - test를 반복한다.
cv = 5
       # 이 때 각 회차마다 test set이 되는 그룹을 계속 바꾼다.
# scorer= # Evaluation Measure로 사용할 Score Function - scorer(estimator, X, y) 무얼로 평가할거냐
scorer = rmse_scorer # 함수를 만들어준다

In [119]:
# def rms_scorer(estimator, X, y)
def rmse_scorer(estimator, X, y):
    y_pred = estimator.predict(X=X) # 조금 더 추상화 시켜서 그냥 X
    rmse = math.sqrt(mean_squared_error(y_pred = y_pred, y_true = y)) # 조금 더 추상화 시켜서 적은 것
    return rmse

In [126]:
# cross_val_score
cross_val_score(estimator = estimator, cv = cv, scoring = scorer, X = X, y =y) # 전체 데이터를 던져준다

array([ 1837.64271999,  2070.5463413 ,  1465.1035543 ,  1748.82098496,
        2112.80639905])

In [131]:
# cv_test_result_df
cv_test_result_df = pd.DataFrame()
cv_test_result_df[estimator] = cross_val_score(estimator = estimator, cv = cv, scoring = scorer, X = X, y =y)
cv_test_result_df

   LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
0                                        1837.642720
1                                        2070.546341
2                                        1465.103554
3                                        1748.820985
4                                        2112.806399

In [29]:
# run cv test for more models & add cols to cv_test_result_df

### 6. 실습 : 신용 금액 예측 모델
---
전처리된 데이터를 이용하여 신용 금액을 가장 잘 예측하는 모델을 찾아라.
- 전처리를 더 수행해도 무방하다. 단, 전처리를 수행한 과정을 기술하라.
- 5개 이상의 모델을 비교하여라. (* 참고 : 같은 모델에 다른 parameter를 사용한 것도 다른 모델로 본다 *)
- cross validation test를 반드시 수행하고(cv=5 이상), 결과를 df로 저장하여라.
- 가장 좋은 모델을 고르고, 그 이유를 설명하여라.

##### (Optional) Preprocessing
---

In [133]:
df.head()

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETAINING,SAV_ACCT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,AMOUNT
OBS#,,,,,,,,,,,,,,,,,,,,,
0,0,6,4,0,0,0,1,0,0,4,...,67,0,0,1,2,2,1,1,0,1169
1,1,48,2,0,0,0,1,0,0,0,...,22,0,0,1,1,2,1,0,0,5951
2,3,12,4,0,0,0,0,1,0,0,...,49,0,0,1,1,1,2,0,0,2096
3,0,42,2,0,0,1,0,0,0,0,...,45,0,0,0,1,2,2,0,0,7882
4,0,24,3,1,0,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,4870

In [150]:
columns = ['HISTORY','INSTALL_RATE','JOB']
X_mads1 = df.loc[:,columns]
X_mads1

      HISTORY  INSTALL_RATE  JOB
OBS#
0           4             4    2
1           2             2    2
2           4             2    1
3           2             2    2
4           3             3    2
5           2             2    1
6           2             3    2
7           2             2    3
8           2             2    1
9           4             4    3
10          2             3    2
11          2             3    2
12          2             1    2
13          4             4    1
14          2             2    2
15          2             4    1
16          4             4    2
17          0             2    2
18          2             4    3
19          2             3    2
20          4             4    2
21          2             2    2
22          4             1    1
23          4             3    2
24          4             2    2
25          2             1    1
26          0             4    1
27          1             3    2
28          2             3    2
29          3             3    2
...       ...           ...  ...
970         2             4    2
971         2             1    1
972         1             1    0
973         2             4    2
974         4             4    2
975         2             3    1
976         2             2    2
977         3             4    2
978         3             4    1
979         1             2    2
980         4             2    2
981         2             3    3
982         2             1    3
983         2             2    2
984         4             2    1
985         4             4    2
986         0             2    2
987         2             2    2
988         2             4    3
989         4             4    1
990         4             2    1
991         1             4    1
992         2             2    1
993         2             4    3
994         2             4    2
995         2             3    1
996         2             4    3
997         2             4    2
998         2             4    2
999         4             3    2

[1000 rows x 3 columns]

In [144]:
y = df.loc[:, 'AMOUNT']
y

OBS#
0       1169
1       5951
2       2096
3       7882
4       4870
5       9055
6       2835
7       6948
8       3059
9       5234
10      1295
11      4308
12      1567
13      1199
14      1403
15      1282
16      2424
17      8072
18     12579
19      3430
20      2134
21      2647
22      2241
23      1804
24      2069
25      1374
26       426
27       409
28      2415
29      6836
       ...
970     1514
971     7393
972     1193
973     7297
974     2831
975     1258
976      753
977     2427
978     2538
979     1264
980     8386
981     4844
982     2923
983     8229
984     2028
985     1433
986     6289
987     1409
988     6579
989     1743
990     3565
991     1569
992     1936
993     3959
994     2390
995     1736
996     3857
997      804
998     1845
999     4576
Name: AMOUNT, Length: 1000, dtype: int64

In [151]:
X_mads1_train, X_mads1_test, y_train, y_test = train_test_split(X_mads1, y, test_size = 0.3)

In [152]:
X_mads1_train.shape, y_train.shape

((700, 3), (700,))

In [158]:
from sklearn import svm
clf = svm.SVC(kernel='linear', C=1).fit(X_mads1_train,y_train)
clf.predict(X_mads1_test)

array([ 7596, 12204,  1275,   433,  1503,  1935, 14318,  1935,  2578,
        7685, 14318,  3077,  2241,  1275,  7596, 14318,  2384,  1236,
        1236, 14318,  3832,  1262,  1478,  2384,  1236,  1262,  7596,
        2384,  1262,  3832,  1275,  1935, 15945,  1449,  1236,  4526,
        1275,  2578,  2384,  1935,  1935,  3077,  2578,  7485,  1935,
       14555,  6468, 14318,  1236,  1287,  1275, 15945, 14318,  2578,
        1236,  3832,  3394,  4280,  2384,  1236,  2578,  1262,   931,
        1442,  7596,  1262,  1262,  7596,  1236,  2578,  7228,  1442,
        7485,  1935,  4526,  2384,  1919,  1275,  1236, 14421,  1935,
        1236,  1935, 14555,  1262,  1275,  6468,  2241,  1935,  2578,
        5381,  2578,  2578,  1262,  1236,  3804, 14318,  3384,  2578,
        1935,  1935,  1236,  1262,  6468,  1935,  1275,  1503,  6468,
        1275,  1262,  1236,  2384,  1236,  4526,  2578,  1935,  3077,
        1919,  1935,  2578,  1503,  4526,  4526, 15945,  1236,  1503,
       14318, 14318,  1275,  1275,  1262,  1478,  1275,  4526,  1275,
        1236,  1919,  1935,  1236,  1262,  1236,  2384,  1262,  1275,
        1287,  9436, 14318,  3077,   433,  1275,  1442,  1449,  1275,
        7596,  4526,  4526,  1919,  1478,   433,  1262,  1262,  1275,
        1236,  1935,  1262,  1275,  7228,  3077, 14318,  1236,  1262,
        1275,  1275,  1262,  3804,  1236,  1275,  1275,  1478,  1275,
        1919,  6468,  1275,  1275,  3804,  3552,  1262,  1236,  2384,
        1275,  1275,  1919,  2578,  1236,  1919,  4526,  1236,  7596,
        1262,  2241,  1935,  1275,  3384,  1275,  1478,  2578,  4526,
        1236,  1275,  3632, 14318,  4526,  2578,  2241, 14318,  1275,
        4526,  7596,  4526,  1236,  1935, 14318,  2578,  9436,  1262,
        1287,  2578,  1275,  1919, 14318,  2384,  1236,  1236,  1935,
        1503,  1262,  1275,  1236,  3832,  2578,  1275,  4526,  2384,
        1236,  4526,  1275,  1262,  1236,  3832,  1275,  2384,  1935,
        2384,  1236,  1275,  1275,  1935,  1236,  1262,  1935,   433,
        2384,  1236,  4526,  1287,  1275,  1275,  3077,  1262,  1275,
        1275,  1275,  1275,  1503,  4526,  7685,  1275,  1236,  1275,
        1275,  1275,  1262,  1503,  1275,  1236,  1275,  1275,  1236,
        7596, 14318,  2578,  1275,  2578,  6468,  1275,  1935,  1503,
        6850,  1275,  7596])

In [159]:
clf.score(X_mads1_test, y_test)

0.0

In [164]:
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernel='linear', C=1)
scores = cross_val_score(clf, X_mads1, y, cv=3)
scores

/home/snu/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

array([ 0.00217155,  0.        ,  0.2       ])

##### Models
---

In [167]:
X_history = df.loc[:,'HISTORY']

OBS#
0      4
1      2
2      4
3      2
4      3
5      2
6      2
7      2
8      2
9      4
10     2
11     2
12     2
13     4
14     2
15     2
16     4
17     0
18     2
19     2
20     4
21     2
22     4
23     4
24     4
25     2
26     0
27     1
28     2
29     3
      ..
970    2
971    2
972    1
973    2
974    4
975    2
976    2
977    3
978    3
979    1
980    4
981    2
982    2
983    2
984    4
985    4
986    0
987    2
988    2
989    4
990    4
991    1
992    2
993    2
994    2
995    2
996    2
997    2
998    2
999    4
Name: HISTORY, Length: 1000, dtype: int64

In [170]:
lr_model.fit(X = X_history,y = y)

/home/snu/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

ValueError: Found input variables with inconsistent numbers of samples: [1, 1000]

In [ ]:
# for loop
# models = [lr_model, knn_model, svm_model]

##### Cross-Validation Test
---

##### Best Model
---

은행에서 신용 금액 예측 모델을 도입하려고 할 때, 어떤 모델을 추천할 것인가?
- 가장 좋은 모델을 보여주는 것이 가장 좋은가? 
- 각 모델들의 장단점을 생각해보자.
- 은행에 모델들을 설명해야한다고 할 때 어떻게 설명할 것인가?
- 현업에 모델을 도입하려고 할 때 가장 먼저 고려해야하는 것이 무엇이라고 생각하는가?